@import url('https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i|Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&subset=vietnamese');
@import url('https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i&subset=latin-ext,vietnamese');
@font-face {font-family: 'utm_impact';src: url(../fonts/UTMImpact.ttf);}

body {
	font-size: 14px;
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	top: 0px !important;
}
a {
	color: #3f434a;
}
a:hover, a:focus {
	text-decoration: none;
	outline: none;
	color: #10a3cf;
}
ul,li{
	margin: 0px;
	padding: 0px;
	list-style: none;
}
.clear{
	clear: both;
}
.relative{
	position: relative;
}
b, strong{
	font-weight: 700;
}
h1, h2, h3, h4, h5, h6{
	font-family: 'Roboto', sans-serif;
}
/**/
@media (max-width: 767px){
	.langding-4 .container{
		padding: 0px 8px !important;
	}
	.langding-4 .container .row{
		margin: 0px -8px !important; 
	}
	.langding-4 .col-md-1, .langding-4 .col-md-2, .langding-4 .col-md-3, .langding-4 .col-md-4, .langding-4 .col-md-5, .langding-4 .col-md-6, .langding-4 .col-md-7, .langding-4 .col-md-8, .langding-4 .col-md-9, .langding-4 .col-md-10, .langding-4 .col-md-11, .langding-4 .col-md-12{
		padding: 0px 8px !important;
	}
}
/**/
.header{
	line-height: 60px;
}
.lang{
	float: left;
	border-right: 1px solid #ddd;
	margin-right: 20px;
	padding-right: 20px;
}
.lang i{
	margin-right: 4px;
	margin-left: 4px;
}
.social{
	float: left;
	border-right: 1px solid #ddd;
	margin-right: 20px;
	padding-right: 20px;
}
.social a{
	font-size: 16px;
	margin: 0px 3px;
}
.search{
	float: left;
}
.search .input-control{
	position: relative;
	height: 34px;
	line-height: normal;
	margin: 14px 0px 0px;
}
.search .input-control input{
	width: 300px;
	height: 34px;
	border-radius: 3px;
	border: 1px solid #555;
	padding: 5px 10px;
	font-size: 13px;
}
.search .input-control .btn{
	position: absolute;
	top: 0px;
	right: 0px;
	background: none;
	font-size: 22px;
	padding: 0px;
	height: 100%;
	width: 34px;
}
.login{
	float: right;
}
.login a{
	margin-left: 22px;
	margin-right: 10px;
}
.login a i{
	font-size: 24px;
	color: #10a3cf;
	position: relative;
	top: 4px;
}
.login a:hover{
	color: #10a3cf;
}
.login .send-request{
	background: #10a3cf;
	display: inline-block;
	padding: 10px 28px;
	line-height: normal;
	border-radius: 4px;
	color: #fff;
	margin-right: 10px;
	font-size: 12px;
  font-weight: 500;
  line-height: 1.83;
  text-align: center;
  color: #ffffff;
}

.header-second{
	top: 0px;
	z-index: 9;
	width: 100%;
	border-bottom: 1px solid #fff;
}
.header-second .slider{
	height: 100%;
	width: 100%;
	background-size: cover;
	background-position: top right;
}
.header-second .slider img{

}
.logo{
	float: left;
	padding: 20px 0px;
}
.logo a{
    font-family: 'Montserrat';
    font-size: 40px;
    color: #10a3cf;
    font-weight: 700;
}
.menu-top{
	float: right;
}
.menu-top ul{
	
}
.menu-top ul li{
	display: inline-block;
	margin: 0px 20px;
}
.menu-top ul li a{
	text-transform: uppercase;
	font-weight: 300;
	font-size: 16px;
	padding: 38px 0px;
	display: inline-block;
	border-bottom: 3px solid rgba(16, 163, 207, 0);
}
.menu-top ul li.active a, .menu-top ul li:hover a{
	color: #fff;
	border-bottom: 3px solid #10a3cf;
}
.form-logistic{
	padding: 50px 0px 40px 50px;
	max-width: 520px;
}
.form-logistic h2{
	 width: 479px;
  height: 48px;
 font-family: 'Roboto', sans-serif;
  font-size: 40px;
  font-weight: bold;
  letter-spacing: 3.3px;
  text-align: left;
  color: #ffffff;
  text-transform: uppercase;
}
.form-logistic h3{
	 

  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 1px;
  text-align: left;
  color: #fff;
  margin-top: -10px;
  text-transform: uppercase;
	
}
.form-logistic .form-group{
	margin-top: 20px;
}
.form-logistic .form-group label{
  display: block;
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  font-weight: bold;
  letter-spacing: 0.9px;
  text-align: left;
  color: #fff;
  text-transform: uppercase;
  margin-bottom: 14px;
}
.form-logistic .form-group select{
	width: 230px;
  height: 43px;
  border-radius: 4px;
  border: solid 1.5px #3b3b3b;
	
}
#thetich{
	float: right;
}
.form-logistic .form-group .btn{
width: 212px;
  height: 43px;
  border-radius: 4px;
  background-color: #10a3cf;
  font-size: 12px;
  font-weight: 500;
  line-height: 1.83;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
      margin-top: 15px;
}
.form-logistic .form-group .by-choose{
	margin-bottom: 20px;
}
.form-logistic .form-group .by-choose .lable{
	color: #fff;
	font-weight: 600;
	margin-right: 30px;
	position: relative;
	display: inline-block;
	padding: 0px 0px 0px 28px;
	cursor: pointer;
}
.form-logistic .form-group .by-choose .lable:before{
	content:'';
	border: 2px solid #fff;
	border-radius: 50%;
	width: 16px;
	height: 16px;
	display: block;
	position: absolute;
	left: 0px;
	top: 3px;
}
.form-logistic .form-group .by-choose .lable:after{
	content: '';
	display: none;
	background: #fff;
	width: 8px;
	height: 8px;
	position: absolute;
	border-radius: 50%;
	left: 4px;
	top: 7px;
}
.form-logistic .form-group .by-choose .lable.active:after{
	display: block;
}
.form-logistic .form-group .by-choose .lable img{
	height: 20px;
	margin-right: 14px;
}
/**/
.second-head{
	background: #242424;
	border-radius: 5px;
	box-shadow: 0px 0px 20px #777;
	padding: 20px;
	max-width: 900px;
	margin: 0px auto 50px;
}
.second-head .img{
	float: left;
	width: 110px;
	height: 110px;
	margin-right: 20px;
	border-radius: 50%;
	overflow: hidden;
}
.second-head .img img{
  width: 90px;
  height: 90px;
    margin-left: 8px;
  object-fit: contain;
}
.second-head .info{
	
}
.second-head .info h2{
	height: 22px;
   font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: bold;
    letter-spacing: normal;
    text-align: left;
    color: #10a3cf;  
    text-transform: uppercase;
}
.second-head .info h3{
	color: #999;
	font-size: 14px;
	margin: 0px;
}
.second-head .form-search{
	float: left;
	width: 100%;
	margin: 35px 0px;
}
.second-head .form-search input{
	background: #353535;
	border: none;
	padding: 10px;
	border-radius: 3px;
	float: left;
	width: calc(100% - 120px);
	margin-right: 10px;
}
.second-head .form-search .btn{
	background: #10a3cf;
	color: #fff;
	text-transform: uppercase;
	height: 40px;
	width: 110px;
	float: left;
	border-radius: 3px;
}
.option{

}
.option .title{
	margin-bottom: 70px;
}
.option .title h2{
	
    font-size: 40px;  
    letter-spacing: 1px;
    color: #10a3cf;
    font-weight: 300;
    text-align: center;
    text-transform: uppercase;
}
.option .title h3{	
font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 1px;
    color: #494949;
    text-align: center;
    text-transform: uppercase;
}
.option .content{

}
.option .content .item{
	text-align: center;
}
.option .content .item .img{
	text-align: center;
	margin: 0px 0px 30px;
}
.option .content .item .img img{
	 width: 41.6px;
  height: 48px;
  object-fit: contain;
	display: inline-block;
}
.option .content .item h3{
	font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 2px;
    text-align: center;
    color: #156a83;
    text-transform: uppercase;
    margin-bottom: 22px;
    position: relative;
}
@media(min-width: 992px){
	.option.option-1 .content .item{
		padding: 0px 80px;
	}
}
.option.option-1 .content .item h3{
	margin-bottom: 70px;
}
.option.option-1 .content .item h3:before{
	content: '';
	background: #146a83;
	display: block;
	width: 100px;
	height: 2px;
	position: absolute;
	bottom: -32px;
	left: 0px;
	right: 0px;
	margin: auto;
}
.option .content .item .info{
	font-family: 'Roboto', sans-serif;
    font-size: 14px;
    line-height: 1.71;
    text-align: center;
    color: #7a7a7a;
}
/**/
.people_say .title{
	margin-bottom: 70px;
}
.people_say .title h2{
	text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    font-size: 34px;
    font-weight: 300;
    letter-spacing: 0px;
    text-align: center;
    color: #fff;
}
.people_say .title h3{
	font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 1px;
    text-align: center;
    color: #494949;
	text-transform: uppercase;
}
@media(min-width: 992px){
	.people_say .content{
		padding: 0px 85px;
	}
}
.people_say .content .item{

}
.people_say .content .item .img{
	float: left;
	width: 120px;
	height: 120px;
	border-radius: 50%;
	overflow: hidden;
	margin: 0px 30px 0px 0px;
}
.people_say .content .item .img img{
width: 80px;
    height: 80px;
    margin-left: 15px;
    object-fit: contain;
}
.people_say .content .item .info{
	font-size: 14px;
	line-height: 1.6;
	float: left;
	width: calc(100% - 170px);
}
.people_say .content .item h3{
	margin-bottom: 12px;
	margin-top: 20px;
}
.people_say .content .item h4{
	color: #10a3cf;
	font-size: 12px;
	margin: 10px 0px;
}
.owl-controls .owl-buttons > div{
	position: absolute;
	font-size: 50px;
	top: 60px;
	margin-top: -36px;
}
.owl-controls .owl-buttons > div.owl-prev{
	left: -95px;
}
.owl-controls .owl-buttons > div.owl-next{
	right: -75px;
}
@media(max-width: 767px){
	.owl-controls .owl-buttons > div{
		opacity: 0;
	}
	.owl-controls .owl-buttons > div.owl-prev{
		left: 0px;
	}
	.owl-controls .owl-buttons > div.owl-next{
		right: 0px;
	}
}
/**/
.panelscrool{
	position: relative;
}
.panelscrool .inner{
	position: relative;
    height: 100%;
    width: 100%;
    margin: 0 auto;
}
.panelscrool .inner .vertical-center{
    width: 100%;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}
.pagination_scroll {
	position:fixed;
	right:20px;
	top: 50%;
	transform: translateY(-50%);
	font-size:1.4em;
	z-index: 10;
}
@media(max-width: 767px){
	.pagination_scroll {
		display: none;
	}
	.panelscrool .inner .vertical-center{
		top: 0%;
		transform: translateY(0%);
		position: relative;
	}
	.panelscrool{
		height: auto !important;
	}
}
.pagination_scroll li{
	position: relative;
}
.pagination_scroll li a {
	display:block;
	height: 28px;
	margin-bottom: 2px;
	color: #222;
	white-space: nowrap;
	font-weight: 400;
}
.pagination_scroll li:nth-child(2) a {

}
.pagination_scroll li a.active:after {
	box-shadow:inset 0 0 0 5px;
}
.pagination_scroll li a .hover-text {
	position:absolute;
	right: 7px;
	top: 3px;
	opacity:0;
	-webkit-transition: opacity 0.5s ease;
	transition: opacity 0.5s ease;
	padding-right: 15px;
	font-size: 14px;
}
.pagination_scroll li a:hover .hover-text {
	opacity: 1;
}
.pagination_scroll li a:after {
	-webkit-transition:box-shadow 0.5s ease;
	transition:box-shadow 0.5s ease;
	width:10px;
	height:10px;
	display: block;
	border:1px solid #222;
	border-radius:50%;
	content:'';
	position: absolute;
	margin:auto;
	top:0;
	right:4px;
	bottom:0;
}
/*footer*/
footer{
	background: #242424;
	padding: 30px 0px;
}
.wrap-logo-footer{
	border-bottom: 2px solid #444444;
	padding-bottom: 15px;
}
.logo-footer{
	float: left;
}
.logo-footer a{
        width: 151px;
    height: 33px;
    font-family: Montserrat;
    font-size: 28px;
    font-weight: 900;
    text-align: center;
    color: #10a3cf;
}
.menu-bottom{
	float: right;
	text-align: right;
	margin: 18px 0px 0px 0px;
}
.menu-bottom li{
	display: inline-block;
	margin-left: 20px;
}
@media(max-width: 767px){
	.menu-bottom{
		float: left;
		text-align: left;
	}
	.menu-bottom li{
		display: inline-block;
		margin: 0px 5px;
	}
}
.menu-bottom li a{
    text-transform: uppercase;
    font-size: 16px;
    width: 47px;
    height: 15px;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 2.3px;
    text-align: left;
    color: #ffffff;
}
.wrap-copyright{
	padding: 22px 0px 0px;
}
.copyright{
	float: left;
}
.copyright a{
	color: #999;
}
.social-bottom{
	float: right;
	font-size: 20px;
}
.social-bottom a{
	color: #10a3cf;
	margin-left: 10px;
}
.social-bottom span{
	color: #fff;
}
@media(max-width: 767px){
	.social-bottom{
		float: left;
	}
	.social-bottom a{
		margin: 0px 10px 0px 0px;
	}
	.panelscrool{
		padding-bottom: 20px;
	}
}

/* dat css */

.line-more {
  width: 40px;
  height: 0.5px;
  background-color: #146a83;
  display: inline-block;
  float: left;
  margin-top: 20px;
  padding-left: 20px;
margin-left:20px;
}
.news-date{

  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  text-align: left;
  color: #acacac;
  float: left;
   margin-top: 20px;
   padding: 0 15px;
   text-transform: uppercase;

}

.info-news{
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  line-height: 1.67;
  text-align: left;
  color: #4d4d4d;
   width: 100%;
   float: left;
   padding: 0 15px;

}
.read-more {
 padding: 0 15px;
   font-size: 12px;
  font-weight: bold;
  letter-spacing: 1px;
  text-align: left;
  color: #146a83;
  float: left;
  width: 100%;
  text-transform: uppercase;
}
.box-news-ft{
	background: #f1f1f1;
}
.box-item{
	background: #ffffff;
    position: relative;
    display: block;
    width: 100%;
    float: left;
    margin-bottom: 20px;
    padding-bottom: 20px;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.08);
}
.box-item img{
	width: 100%;
}
/**/
.form-about-news{
	background-image: url(../imgs/paper.jpg);
	background-size: cover;
	background-position: top center;
	padding: 80px 0px;
}
.form-about-news h2{
	color: #fff;
	font-weight: 200;
	font-size: 40px;
	max-width: 400px;
	text-align: center;
	margin: 0px auto 20px;
	line-height: 1.4;
}
.form-about-news form{
	max-width: 550px;
	margin: auto;
}
.form-about-news form input{
	float: left;
	
	width: 100%;
	
	padding: 10px;
	margin: 10px 0px;
}
.form-about-news form input:nth-child(1){
	margin-right: 1.5%;
}
.form-about-news form input:nth-child(2){
	margin-left: 1.5%;
	float: right;
}
.form-about-news form textarea{
	width: 100% !important;
	border: 2px solid #000;
	border-radius: 3px;
	padding: 10px;
	min-height: 100px;
	margin: 10px 0px;
}
.form-about-news form .btn{
	background: #10a3cf;
	color: #fff;
	text-transform: uppercase;
	height: 44px;
	min-width: 110px;
	margin-top: 10px;
}

.btn-news{
	width: 100%
}

/* quycss*/
.second-head .img-sv {
  width: 90px;
  height: 72.6px;
  object-fit: contain;
}

.second-head .img-sv {
	
	float: left;
    width: 90px;
    height: 72.6px;
    margin-right: 20px;
   
    overflow: hidden;
}
.info-sv h2{
  
  height: 22px;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 1px;
  text-align: left;
  color: #10a3cf;
}

.info-sv h2 {
  letter-spacing: normal;
}
.info-sv h3{

  height: 17px;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  text-align: left;
  color: #979797;
  margin: 0px;
}

.get-price  .input-control .btn {
 width: 233px;
  height: 43px;
  border-radius: 4px;
  background-color: #10a3cf;
  float: right;
  margin-top: 26px;
}
.info-sv h3 {
  width: 800px;
  height: 17px;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  text-align: left;
  color: #979797;
}
.second-head{
  width: 993px;
  height: 133px;
  border-radius: 4px;
  background-color: #232323;
  box-shadow: 0 2px 20px 0 rgba(0, 0, 0, 0.3);
}
.rectangle-16 {
  width: 112px;
  height: 1px;
  display: block;
  background-color: #146a83;
}
.option .title-sv h2{
 margin-top: 50px;
}
.option  .info-sv{
    width: 536px;
    height: 156px;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    line-height: 2.17;
    text-align: left;
    color: #7a7a7a;
	 margin-top: 20px;

}
.input-control .btn {
  width: 212px;
  height: 43px;
  border-radius: 4px;
  background-color: #10a3cf;
  font-size: 12px;
  font-weight: 500;
  text-align: center;
  color: #ffffff;
   margin-top: 63px;
}
.text-sv  h2{
	 width: 444px;
  height: 120px;
  font-family: 'Roboto', sans-serif;
  font-size: 40px;
  font-weight: 300;
  line-height: 1.5;
  letter-spacing: 2px;
  text-align: left;
  color: #10a3cf;
}
.text-sv  h3{
	 width: 110px;
  height: 17px;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 1px;
  text-align: left;
  color: #a5a5a5;
}
.info-sv {
	 width: 739px;
  height: 117px;
  font-family: 'Roboto', sans-serif;
  font-size: 24px;
  line-height: 1.63;
  text-align: left;
  color: #ffffff;
}
/**/
.form-about{
 background-image: url(../imgs/paper.jpg);
 background-size: cover;
 background-position: top center;
 padding: 80px 0px;
 height:700px !important;
}
.form-about h2{
 margin: 0px auto 20px;
    line-height: 1.4;
    width: 601px;
    height: 120px;
    font-family: 'Roboto', sans-serif;
    font-size: 40px;
    font-weight: 300;
    line-height: 1.5;
    letter-spacing: 2px;
    text-align: center;
    color: #ffffff;
}
.form-about form{
 max-width: 550px;
 margin: auto;
}
.form-about form input{
 float: left;
 border: 2px solid #000;
 width: 48%;
 border-radius: 3px;
 padding: 10px;
 margin: 10px 0px;
}
.form-about form input:nth-child(1){
 margin-right: 1.5%;
}
.form-about form input:nth-child(2){
 margin-left: 1.5%;
 float: right;
}
.form-about form textarea{
 width: 100% !important;
 border: 1px solid #ccc;
 border-radius: 3px;
 padding: 10px;
 min-height: 100px;
 margin: 10px 0px;
}
.form-about form .btn{
 background: #10a3cf;
 color: #fff;
 text-transform: uppercase;
 height: 44px;
 min-width: 110px;
 margin-top: 0;
}
.morecontent span {
    display: none;
}
.morelink {
    display: block;
}
.footer-inner{
	float: left;
	width: 80%;
}
.fanpage{
	width: 16%;
	float: right;
}
/* service css*/
.int-input-1 {
  border-radius: 4px;
  height: 43px !important;
  text-height: 43px;
  font-size: 13px !important; }

.int-login-btn {
  width: 100%;
  background-color: #10a3cf;
  color: #fff;
  height: 43px; }
  .int-login-btn:hover {
    color: #fff !important;
    background-color: #0a829e; }

.int-facebook {
  background-color: #3c589c !important; }
  .int-facebook:hover {
    color: #fff !important;
    background-color: #1c3a77 !important; }

.int-taobao {
  background-color: #e67800 !important; }
  .int-taobao:hover {
    color: #fff !important;
    background-color: #b7530f !important; }

body {
  -webkit-font-smoothing: antialiased; }

.clear-fix {
  clear: both; }
.home-services-container .sub-home .home-tracking-code .home-tracking-left ul{
	padding-left: 50px;
}

  @media screen and (max-width: 480px) {
    .home-services-container {
      background-image: url("../images/services-bg-mobile.svg"); } }
  .home-services-container .sub-home .home-tracking-code {
    margin-top: 80px;
    background-color: #222;
    border-radius: 8px;
    padding: 20px; }
    @media screen and (max-width: 480px) {
      .home-services-container .sub-home .home-tracking-code {
        margin-top: 40px; } }
    .home-services-container .sub-home .home-tracking-code .home-tracking-left {
      padding-left: 50px;
      color: #fff;
      background-image: url("../images/target.png");
      background-repeat: no-repeat; }
      .home-services-container .sub-home .home-tracking-code .home-tracking-left ul {
        margin-left: 0px;
        list-style: none; }
        .home-services-container .sub-home .home-tracking-code .home-tracking-left ul .title {
          color: #10a3cf;
          font-weight: 600; }
        .home-services-container .sub-home .home-tracking-code .home-tracking-left ul .content {
          font-size: 12px; }
    .home-services-container .sub-home .home-tracking-code .home-tracking-right .ht-search-group {
      margin-top: 20px; }
      .home-services-container .sub-home .home-tracking-code .home-tracking-right .ht-search-group .search-btn {
        background-color: #10a3cf;
        color: #fff; }
  .home-services-container .sub-home .home-services-title {
    padding-top: 40px;
    padding-bottom: 10px;
    text-align: center;
    font-size: 44px;
    color: #10a3cf;
    font-weight: 300;
    text-transform: initial; }
    @media screen and (max-width: 480px) {
      .home-services-container .sub-home .home-services-title {
        font-size: 30px; } }
  .home-services-container .sub-home .home-services-des {
    text-align: center;
    font-size: 16px; }
  .home-services-container .sub-home .home-services-listicons {
    margin-top: 40px; }
    @media screen and (max-width: 480px) {
      .home-services-container .sub-home .home-services-listicons {
        margin-top: 20px; } }
    .home-services-container .sub-home .home-services-listicons .listicons-cell {
      padding: 10px 20px; }
      @media screen and (max-width: 480px) {
        .home-services-container .sub-home .home-services-listicons .listicons-cell {
          padding: 0px 5px; } }
      .home-services-container .sub-home .home-services-listicons .listicons-cell .listicons-ul {
        list-style: none;
        margin-left: 0px;
        padding-left: 0px; }
        .home-services-container .sub-home .home-services-listicons .listicons-cell .listicons-ul li {
          text-align: center; }
          .home-services-container .sub-home .home-services-listicons .listicons-cell .listicons-ul li .rep-icon {
            max-height: 50px;
            max-width: 50px;
            margin: 20px 0px; }
        .home-services-container .sub-home .home-services-listicons .listicons-cell .listicons-ul .title {
          padding: 15px 0px;
          font-size: 16px;
          font-weight: 600;
          color: #10a3cf; }
        .home-services-container .sub-home .home-services-listicons .listicons-cell .listicons-ul .content {
          font-size: 14px;
          color: #555; }

/*# sourceMappingURL=services.css.map */

 @media screen and (max-width: 480px) {
    .ourpartner-container {
      background-position: top center; } }
  .ourpartner-container .container .ourpartner-title {
    text-align: center;
    font-size: 30px;
    color: #fff;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    padding: 50px 0px; }
    @media screen and (max-width: 480px) {
      .ourpartner-container .container .ourpartner-title {
        padding: 30px 0px;
        font-size: 26px; } }
  .ourpartner-container .container .partner-logos-container {
    margin-top: 20px; }
    .ourpartner-container .container .partner-logos-container .logo {
      padding: 10px 30px;
      height: 60px;
      margin-bottom: 20px; }
      @media screen and (max-width: 480px) {
        .ourpartner-container .container .partner-logos-container .logo {
          padding: 0px 10px; } }
      .ourpartner-container .container .partner-logos-container .logo img {
        max-width: 100%;
        max-height: 40px;
        line-height: 60px;
        -moz-transition: all 0.3s;
        -webkit-transition: all 0.3s;
        transition: all 0.3s; }
        .ourpartner-container .container .partner-logos-container .logo img:hover {
          -moz-transform: scale(1.1);
          -webkit-transform: scale(1.1);
          transform: scale(1.1); }