

@import 'variants.scss';

//@import '_bootstrap.scss';

@import url(https://fonts.googleapis.com/css?family=Roboto:400,700,900,300);





/* Reset Font-all page section */

html, body, div, span, applet, object, iframe,

h1, h2, h3, h4, h5, h6, p, blockquote, pre,

a, abbr, acronym, address, big, cite, code,

del, dfn, em, img, ins, kbd, q, s, samp,

small, strike, strong, sub, sup, tt, var,

b, u, i, center,

dl, dt, dd, ol, ul, li,

fieldset, form, label, legend,

table, caption, tbody, tfoot, thead, tr, th, td,

article, aside, canvas, details, embed, 

figure, figcaption, footer, header, hgroup, 

menu, nav, output, ruby, section, summary,

time, mark, audio, video {

	font-family: 'Roboto', sans-serif;

}

 .dctrans-carousel-title{
 	font-size:14px;
 	line-height:22px;
 	padding:20px 30px;
 	margin-bottom:40px;
 	background-image:url('../images/banner-img.png');
 	background-repeat:repeat;
 	color:#fff;
 	border-radius:8px;
 	.strong-title{
 		padding:10px;
 		font-size:20px;
 		font-weight:600;
 		color:#fff;
 	}
 }









/* End reset font*/

.dctrans-top-nav{

	@media all and (max-width: 480px) {

		display:none;

	}

	width:100%;

	z-index:100;

	border-radius:0px;

	margin-bottom:0px;

	border-width:0px;

	.dctrans-nav{

		padding:6px 10px;

		.dctrans-nav-left{

			.nav-ul{

				font-size:13px;

				list-style:none;

				padding-left:0px;

				margin-bottom:0px;



						.lang_sel_sel{

							font-size:12px !important;

							background-color:transparent !important;

						}







				li{

					padding:0px 10px;

					display:inline-block;

					.item{

						margin:0px 5px;

						color:#333;

						&:hover{

							color:$dctrans-blue;

						}

					}



					.phone-link{

						font-size:15px;

					}

				}

				.separator{

					border-left:1px solid #ccc;

					padding:0px;

				}

				.currency-dropdown{

					.currency-btn{

						background-color:#e80000;

						color:#fff;

						border-width:0px;

						font-size:13px;

					}

					.currency-panel{

						width:300px;

						padding:20px;

						background-color:$dctrans-blue;

						color:#fff;

						.title{

							font-size:18px;

							padding:6px 0px;

							font-weight:600;

						}

						.description{

							font-size:13px;

							color:#fff;

						}

						.login{

							width:100%;

							padding:20px 0px;

							text-align:center;

						}

						.separator{

							border-top:1px solid #ccc;

							height:1px;

							width:100%;

							margin:20px 0px;

							clear:both;

							opacity:0.4;

						}

						.input{

							padding:10px 0px;

						}

						.result{

							padding:15px 0px;

							text-align:center;

							font-size:20px;

						}

					}

				.currency-dropdown{

					.currency-btn{

						background-color:#e80000;

						color:#fff;

						border-width:0px;

						font-size:13px;

					}

					.currency-panel{

						width:300px;

						padding:20px;

						background-color:$dctrans-blue;

						color:#fff;

						text-align: center;

						.title{

							font-size:18px;

							padding:6px 0px;

							font-weight:600;

						}

						.description{

							font-size:13px;

							color:#fff;

						}

						.login{

							width:100%;

							padding:20px 0px;

							text-align:center;

						}

						.separator{

							border-top:1px solid #ccc;

							height:1px;

							width:100%;

							margin:20px 0px;

							clear:both;

							opacity:0.4;

						}

						.input{

							padding:10px 0px;

						}

						.result{

							padding:15px 0px;

							text-align:center;

							font-size:24px;

						}

					}

				}

			}

		}

		.dctrans-nav-right{

			text-align:right;

			.nav-ul{

				font-size:13px;

				list-style:none;

				padding-left:0px;

				margin-bottom:0px;

				li{

					padding:0px 10px;

					display:inline-block;

					.item{

						margin:0px 5px;

						color:#333;

						&:hover{

							color:$dctrans-blue;

						}

					}

				}

				.separator{

					border-left:1px solid #ccc;

					padding:0px;

				}

			}



		}

	}

	.dctrans-menu{

		background-color:#222;

		//height:80px;

		//padding:20px;

		.menu-left{

			padding:20px;

			.dc-logo{

				img{

					max-height:40px;

				}

			}

		}

		.menu-tracking-con{

			padding:22px;

			.input-group{

				margin-left:20px;

				max-width:240px;

				.tracking-input{

					border-width:0px;

					font-size:12px;

				}

				.dctrans-btn{

					height:34px;

				}

			}

		}

		.menu-right{

			text-align:right;

			height:80px;

			overflow-y:hidden;

			.h-menu{

				list-style:none;

				padding-left:0px;

				margin-bottom:0px;

				li{

					display:inline-block;

					&:hover{

						a{

							//line-height:73px;

						}

						background-color:$dctrans-blue;

						border-bottom:6px solid $dctrans-blue-hover;

					}

				}

				li {

					//padding:10px 10px;

					color:#fff;

					font-size:15px;

					text-transform:uppercase;

					letter-spacing:1px;

					a{

						color:#fff;

						line-height:80px;

						margin:0px !important;

						padding:0px 20px;

					}

					&:hover{

						text-decoration:none;

					}

				}

			}

		}

	}

}



#dctrans-banner{

	.item{

		img{

			width:100%;

			min-width:1200px;

			margin:auto auto;

		}

	}

	@media screen and (max-device-width: 480px) {

		//margin-top:80px;

		.carousel-inner{

			max-height:600px;

		}

		.item{

			img{

				min-width:300px;

				max-height:500px;

			}

		}

	}

}



.shipping-calculator{

	padding:100px 0px;

	@media all and (max-device-width: 480px) {

		padding:40px 0px;

	}

	.shipping-left{

		@media all and (max-device-width: 480px) {

			padding-bottom:40px;

		}

		ul{

			list-style:none;

			padding-left:0px;

			.steps{

				img{

					max-width:100%;

				}

			}

			.title{

				font-size:34px;

				color:$dctrans-blue;

				padding:20px 0px;

				@media all and (max-device-width: 480px) {

					text-align:center;

					font-size:24px;

				}

			}

			.step-des{

				padding:4px 0px;

				font-size:14px;

			}

		}

	}

	.shipping-right{

		.calculate-table{

			//background-color:#f2f2f2;

			padding:30px;

			@media all and (max-device-width: 480px) {

				padding:0px;

			}

			.nav-tabs{

				.active{

					a{

						background-color:#f2f2f2;

					}

					.tab-title{

						font-weight:600;

						color:#333;

						padding:15px 20px;

					}

				}

				.tab-title{

					//font-weight:600;

					color:#333;

					padding:15px 20px;

				}

			}

			.tab-content{

				background-color:#f2f2f2;

			}

			.cal-panel{

				padding:20px;

				.tab-cal-ul{

					max-width:400px;

					margin:auto auto;

					list-style:none;

					padding-left:0px;

					.cal-txt{

						margin:20px 0px;

						label{

							font-weight:normal;

							color:#333;

							font-size:13px;

						}

						.location-select{

							option{

								padding:10px 20px;

								border-radius:0px;

							}

						}

						.segment-left{

							padding:0px;

							padding-right:5px;

							@media screen and (max-device-width: 480px) {

								padding:0px;

							}

						}

						.segment-right{

							padding:0px;

							padding-left:5px;

							@media screen and (max-device-width: 480px) {

								padding:0px;

								margin-top:20px;

							}

						}

					}

					.cal-btn{

						text-align:center;

						padding:20px 0px;

						button{

							font-size:16px;

							padding:10px 20px;

						}

					}

				}

			}

		}

	}

}



.dccontact-form-con .dc-dialog {
  max-width: 800px; }
  .dccontact-form-con .dc-dialog .modal-content {
    border-radius: 0px; }
    .dccontact-form-con .dc-dialog .modal-content .modal-header {
      border-width: 0px; }
    .dccontact-form-con .dc-dialog .modal-content .modal-body .contact-form .title {
      padding: 20px 0px;
      font-size: 30px;
      font-weight: 600;
      letter-spacing: 0.6px; }
    .dccontact-form-con .dc-dialog .modal-content .modal-body .contact-form .result-title {
      font-size: 26px; }
    .dccontact-form-con .dc-dialog .modal-content .modal-body .contact-form .result-description {
      padding: 10px 0px;
      font-size: 16px;
      color: #333; }
    .dccontact-form-con .dc-dialog .modal-content .modal-body .contact-form .contact-rating {
      margin: 20px auto;
      padding: 10px;
      border-radius: 8px;
      border: 1px solid #ddd; }
      .dccontact-form-con .dc-dialog .modal-content .modal-body .contact-form .contact-rating .ul-rating {
        list-style: none;
        padding-left: 0px;
        margin-bottom: 0px; }
        .dccontact-form-con .dc-dialog .modal-content .modal-body .contact-form .contact-rating .ul-rating li {
          padding: 0px 10px;
          display: inline-block; }
          .dccontact-form-con .dc-dialog .modal-content .modal-body .contact-form .contact-rating .ul-rating li i {
            color: #ffbf0d; }
            @media screen and (max-width: 480px) {
              .dccontact-form-con .dc-dialog .modal-content .modal-body .contact-form .contact-rating .ul-rating li i {
                font-size: 30px; } }
    .dccontact-form-con .dc-dialog .modal-content .modal-body .contact-form ul li .dc-float-lb {
      margin-bottom: 20px; }
      .dccontact-form-con .dc-dialog .modal-content .modal-body .contact-form ul li .dc-float-lb label {
        font-size: 12px;
        margin-bottom: 0px; }
      .dccontact-form-con .dc-dialog .modal-content .modal-body .contact-form ul li .dc-float-lb .dc-input {
        border-radius: 0px;
        padding: 6px 15px;
        border: 1px solid #ddd;
        height: 40px; }
      .dccontact-form-con .dc-dialog .modal-content .modal-body .contact-form ul li .dc-float-lb .area-input {
        height: 100px; }
      .dccontact-form-con .dc-dialog .modal-content .modal-body .contact-form ul li .dc-float-lb .dc-input:focus {
        box-shadow: none;
        outline: 0 none; }
      .dccontact-form-con .dc-dialog .modal-content .modal-body .contact-form ul li .dc-float-lb .lb-error {
        padding: 5px;
        font-size: 12px;
        color: red !important; }
    .dccontact-form-con .dc-dialog .modal-content .modal-body .contact-form ul li .contact-sbtn {
      font-size: 16px;
      padding: 10px 20px; }
    .dccontact-form-con .dc-dialog .modal-content .modal-body .contact-info {
      padding: 10px; }
      .dccontact-form-con .dc-dialog .modal-content .modal-body .contact-info ul li {
        padding: 5px;
        font-weight: 400;
        font-size: 14px; }
        .dccontact-form-con .dc-dialog .modal-content .modal-body .contact-info ul li .contact-label {
          font-weight: 300;
          color: #333; }

.modal.fade .modal-dialog {
  -webkit-transform: scale(0.1);
  -moz-transform: scale(0.1);
  -ms-transform: scale(0.1);
  transform: scale(0.1);
  top: 300px;
  opacity: 0;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s; }

.modal.fade.in .modal-dialog {
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  -webkit-transform: translate3d(0, -300px, 0);
  transform: translate3d(0, -300px, 0);
  opacity: 1; }

/*# sourceMappingURL=dccontact-form.css.map */
