
@import 'variants.scss';
//@import '_bootstrap.scss';
@import url(https://fonts.googleapis.com/css?family=Roboto:400,700,900,300);

.dctrans-footer{
	background-color:#222 !important;
	padding:60px 0px;
	.foot-col{
		padding:20px;
		.footcol-ul{
			list-style:none;
			padding-left:0px;
			li{
				margin:10px 0px;
			}
			.contact-title{
				font-size:20px;
				color:$dctrans-blue;
				line-height:60px;
			}
			.contact-txt{
				color:#fff;
				.item{
					padding:0px 5px;
				}
			}
			.logo{
				padding:20px 0px;
				img{
					max-width:200px;
				}
			}
			.separator{
				border-bottom:1px solid #444;
			}
			.copyright{
				color:#666;
				font-weight:normal;
				font-size:13px;
			}
		}
	}
}