
@import 'variants.scss';
//@import '_bootstrap.scss';
@import url(https://fonts.googleapis.com/css?family=Roboto:400,700,900,300);








.dctrans-mobile-nav{
	@media all and (min-device-width: 481px) {
		display:none;
	}
	width:100%;
	z-index:100;
	border-radius:0px;
	margin-bottom:0px;
	border-width:0px;
	background-color:#222;
	//padding:10px 0px;
	.top-nav{
		background-color:#ddd;
		padding:5px 0px;
		.nav-col{
			padding:0px 10px;
			.nav-language{
				.dropdown-toggle{
					font-size:12px;
					background-color:transparent;
				}
			}

			.currency-dropdown{
				.currency-btn{
					background-color:#e80000;
					color:#fff;
					border-width:0px;
					font-size:13px;
				}
				.currency-panel{
					width:300px;
					left:-80% !important;
					padding:20px;
					background-color:$dctrans-blue;
					color:#fff;
					.title{
						font-size:18px;
						padding:6px 0px;
						font-weight:600;
					}	
					.description{
						font-size:13px;
						color:#fff;
					}
					.login{
						width:100%;
						padding:20px 0px;
						text-align:center;
					}
					.separator{
						border-top:1px solid #ccc;
						height:1px;
						width:100%;
						margin:20px 0px;
						clear:both;
						opacity:0.4;
					}
					.input{
						padding:10px 0px;
					}
					.result{
						padding:15px 0px;
						text-align:center;
						font-size:20px;
					}
				}
			}

			.login-link{
				text-align:right;
				line-height:30px;
				font-size:14px;
			}
		}
	}
	.top-menu{
		padding:10px 0px;
		.nav-col{
			.dc-logo{
				img{
					margin-top:4px;
					max-width:100%;
				}
			}
			.burger-btn{
				padding:6px 8px;
				font-size:24px;
				background-color:transparent;
				color:#fff;
				border:1px solid #444;
			}

			.cross-btn{
				padding:6px 8px;
				height:48px;
				font-size:24px;
				background-color:transparent;
				color:#fff;
				border:1px solid #444;	
			}
		}
	}
}

.burger-menu{
	border-top:1px solid #444;
	ul{
		list-style:none;
		.burger-li{
			font-size:16px;
			color:#fff;
			li{
				padding:10px 20px !important;
				border-bottom:1px solid #444;
			}
		}
		.last{
			li{
				border-bottom-width:0px;
			}
		}
	}
}