
@import 'variants.scss';
//@import '_bootstrap.scss';
@import url(https://fonts.googleapis.com/css?family=Roboto:400,700,900,300);

body{
-webkit-font-smoothing: antialiased;
}
.clear-fix{
	clear:both;
}
.parallax{
	    /* The image used */
	background-image:url("../images/services.svg");

    /* Set a specific height */
    //height: 100vh; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.main-services-container{
	background-color:#fff;
	/* The image used */
	background-image:url("../images/mainservices-bg.svg");

    /* Set a specific height */
    //height: 100vh; 

    /* Create the parallax scrolling effect */
    //background-position: center;
    //background-repeat: no-repeat;
    //background-size: cover;



	@media screen and (max-width: 480px) {
		background-image:url("../images/mainservices-bg-mobile.svg");
	}
	.title-container{

		//height:200px;
		padding:30px 0px;
		//background-color:#ddd;
		//color:#fff;
		.title{
			font-size:50px;
			@media screen and (max-width: 480px) {
				font-size:34px;
			}
			text-align:center;
			padding-top:80px;
			color:$dctrans-blue;
			font-weight:300;
		}
		.description{
			font-size:16px;
			text-align:center;
			padding:10px;
			color:#333;
		}
	}
	.sub-main{
		padding-top:40px;
		@media screen and (max-width: 480px) {
			padding-top:0px;
		}
		margin-bottom:100px;
		.mainservices-col{
			padding:10px 20px;
			@media screen and (max-width: 480px) {
				padding:20px 0px;
			}
			.mainservices-ul{
				list-style:none;
				padding-left:0px;
				.image{
					text-align:center;
					img{
						border-radius:4px;
						max-width:100%;

					}
				}
				.title{
					font-size:22px;
					padding:15px 0px;
					//font-weight:600;
					color:$dctrans-blue;
					text-align:center;
					//text-transform:uppercase;
				}
				.content{
					font-size:14px !important;
					text-align:center;
				}

				.action{
					text-align:center;
					padding:30px 0px 0px 0px;
					.mainservices-btn{
						background-color:$dctrans-blue;
						color:#fff;
						padding:10px 20px;
						&:hover{
							background-color:#337ab7;
						}
					}
				}
			}
		}
	}



}