
@import 'variants.scss';
//@import '_bootstrap.scss';
@import url(https://fonts.googleapis.com/css?family=Roboto:400,700,900,300);

body{
-webkit-font-smoothing: antialiased;
}

.ourpartner-container{
	padding-top:40px;
	padding-bottom:200px;
	background-image:url("../images/partner-bg.png");
	    /* The image used */


    /* Set a specific height */
    //height: 600px; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;



	@media screen and (max-width: 480px) {
		background-position: top center;
		padding-bottom:40px;
	}

	background-color:#333;
	.container{
		.ourpartner-title{
			text-align:center;
			font-size:30px;
			color:#fff;
			text-transform:uppercase;
			font-family: 'Roboto', sans-serif;
			padding:50px 0px;
			@media screen and (max-width: 480px) {
				padding:30px 0px;
				font-size:26px;
			}

		}

		.partner-logos-container{
			margin-top:20px;
			.logo{
				padding:10px 30px;
				height:60px;
				margin-bottom:20px;
				@media screen and (max-width: 480px) {
					padding:0px 10px;
				}

				img{
					max-width:100%;
					max-height:40px;
					line-height:60px;
					  -moz-transition: all 0.3s;
					  -webkit-transition: all 0.3s;
					  transition: all 0.3s;

					&:hover{
						  -moz-transform: scale(1.1);
						  -webkit-transform: scale(1.1);
						  transform: scale(1.1);

					}
				}

			}
		}
	}
}


/* End Registration Page*/
