
@import 'variants.scss';
//@import '_bootstrap.scss';
@import url(https://fonts.googleapis.com/css?family=Roboto:400,700,900,300);

body{
-webkit-font-smoothing: antialiased;
}
.clear-fix{
	clear:both;
}
.home-services-container{

	padding-bottom:80px;

	@media screen and (max-width: 480px) {
		background-image:url("../images/services-bg-mobile.svg");
	}
	.sub-home{
		.home-tracking-code{
			margin-top:60px;
			@media screen and (max-width: 480px) {
				margin-top:40px;
			}

			background-color:#222;
			border-radius:8px;
			padding:20px;
			.home-tracking-left{
				padding-left:50px;
				color:#fff;
				background-image:url("../images/target.png");
				background-repeat:no-repeat;
				ul{
					margin-left:0px;
					list-style:none;
					.title{
						color:$dctrans-blue;
						font-weight:600;
					}
					.content{
						font-size:12px;
					}
				}

			}
			.home-tracking-right{
				.ht-search-group{
					margin-top:20px;
					.search-btn{
						background-color:$dctrans-blue;
						color:#fff;
					}
				}
			}
		}
		.home-services-title{
			padding-top:80px;
			padding-bottom:10px;
			text-align:center;
			font-size:50px;
			color:#fff;
			font-weight:300;
			text-transform:initial;
			@media screen and (max-width: 480px) {
				font-size:40px;
			}
		}
		.home-services-des{
			text-align:center;
			font-size:16px;
		}
		.home-services-listicons{
			margin-top:40px;
			@media screen and (max-width: 480px) {
				margin-top:20px;
			}
			.listicons-cell{
				padding:10px 20px;
				@media screen and (max-width: 480px) {
					padding:0px 5px;
				}
				.listicons-ul{
					list-style:none;
					margin-left:0px;
					padding-left:0px;
					li{
						text-align:center;
						.rep-icon{
							max-height:50px;
							max-width:50px;
							margin:20px 0px;
						}
					}
					.title{
						padding:15px 0px;
						font-size:16px;
						font-weight:600;
						color:#333;
					}
					.content{
						font-size:14px;
						color:#333;
					}
				}
			}
		}


	}
}