
@import 'variants.scss';
//@import '_bootstrap.scss';
@import url(https://fonts.googleapis.com/css?family=Roboto:400,700,900,300);

body{
-webkit-font-smoothing: antialiased;
}


/* LOGIN PAGE : This section renders for Login page*/
.loginreg-head-switcher{
	text-align:center;
	margin:40px 0px !important;
	.int-head-ul{
		list-style:none;
		padding-left:0px;
		li{
			padding:10px 5px;
			margin:0px 10px;
			display:inline-block;
			a{
				font-size:15px;
				color:#333;
			}
			&:hover{
				a{
					text-decoration:none !important;
					color:$int-blue !important;
					//font-weight:600;

				}
				border-bottom:3px solid $int-blue;
			}
		}
		.li-selected{
			border-bottom:3px solid $int-blue;
			a{
				color:$int-blue !important;
				font-weight:600;
			}
		}
	}
}


.int-login{
	.int-login-inside{
		max-width:375px;
		margin:auto auto;
		.login-inside-body-ul{
			list-style:none;
			padding-left:0px;
			li{
				margin:20px 0px;
			}
			.login-remember-me{
				padding:5px 0px;
				margin-bottom:40px;
				.left{
					width:49%;
					float:left;
					margin:0px 0px !important;
				}
				.right{
					width:49%;
					float:right;
					text-align:right;
					a{

					}
				}
			}
			.int-align-center{
				text-align:center;
			}
		}
	}
}

/* END Login Page */
/* REGISTRATION PAGE : This section renders for registration page*/

.int-registration{
	.int-reg-inside{
		max-width:640px;
		margin:auto auto;
		.reg-sca-table{
			.reg-bounder{
				padding:10px;
			}
			.reg-caption{
				color:$int-blue;
			}
			.reg-sep{
				text-align:center;
				padding:20px;
			}
			.reg-submit{
				text-align:center;
				padding:30px 0px;
				button{
					max-width:400px;
				}
			}
		}
	}
}




/* End Registration Page*/
