

$dctrans-blue:#10a3cf;
$dctrans-blue-hover:#337ab7;

h1{
	font-size:50px;
}

.dctrans-btn{
	background-color:$dctrans-blue;
	color:#fff;
	border-width:0px;
	&:hover{
		background-color:$dctrans-blue-hover;
		color:#fff;
	}
}

.dctrans-link{
	color:#333;
	&:hover{
		color:$dctrans-blue;
	}
}

.bold{
	font-weight:600;
}

.right{
	text-align:right;
}