@import url(https://fonts.googleapis.com/css?family=Roboto:400,700,900,300);
body {
    font-family: "Roboto", Arial, sans-serif;}
h1 {
  font-size: 50px; }

.dctrans-btn {
  background-color: #10a3cf;
  color: #fff;
  border-width: 0px; }
  .dctrans-btn:hover {
    background-color: #337ab7;
    color: #fff; }

.dctrans-link {
  color: #333; }
  .dctrans-link:hover {
    color: #10a3cf; }

.bold {
  font-weight: 600; }

.right {
  text-align: right; }

.dctrans-mobile-nav {
  width: 100%;
  z-index: 100;
  border-radius: 0px;
  margin-bottom: 0px;
  border-width: 0px;
  background-color: #222; }
  @media (min-width: 481px) {
    .dctrans-mobile-nav {
      display: none; } }
  .dctrans-mobile-nav .top-nav {
    background-color: #ddd;
    padding: 5px 0px; }
    .dctrans-mobile-nav .top-nav .nav-col {
      padding: 0px 10px; }
      .dctrans-mobile-nav .top-nav .nav-col .nav-language .dropdown-toggle {
        font-size: 12px;
        background-color: transparent; }
      .dctrans-mobile-nav .top-nav .nav-col .currency-btn {
        font-size: 12px;
        background-color: #e80000;
        color: #fff;
        border-width: 0px; }
      .dctrans-mobile-nav .top-nav .nav-col .login-link {
        text-align: right;
        line-height: 30px;
        font-size: 12px; }
  .dctrans-mobile-nav .top-menu {
    padding: 10px 0px; }
    .dctrans-mobile-nav .top-menu .nav-col .dc-logo img {
      margin-top: 4px;
      max-width: 100%; }
    .dctrans-mobile-nav .top-menu .nav-col .burger-btn {
      padding: 6px 8px;
      font-size: 24px;
      background-color: transparent;
      color: #fff;
      border: 1px solid #444; }

.dctrans-top-nav {
  width: 100%;
  z-index: 100;
  border-radius: 0px;
  margin-bottom: 0px;
  border-width: 0px; }
  @media (max-width: 480px) {
    .dctrans-top-nav {
      display: none; } }
  .dctrans-top-nav .dctrans-nav {
    padding: 6px 10px; }
    .dctrans-top-nav .dctrans-nav .dctrans-nav-left .nav-ul {
      font-size: 13px;
      list-style: none;
      padding-left: 0px;
      margin-bottom: 0px; }
      .dctrans-top-nav .dctrans-nav .dctrans-nav-left .nav-ul li {
        padding: 0px 10px;
        display: inline-block; }
        .dctrans-top-nav .dctrans-nav .dctrans-nav-left .nav-ul li .item {
          margin: 0px 5px;
          color: #333; }
          .dctrans-top-nav .dctrans-nav .dctrans-nav-left .nav-ul li .item:hover {
            color: #10a3cf; }
        .dctrans-top-nav .dctrans-nav .dctrans-nav-left .nav-ul li .phone-link {
          font-size: 15px; }
      .dctrans-top-nav .dctrans-nav .dctrans-nav-left .nav-ul .separator {
        border-left: 1px solid #ccc;
        padding: 0px; }
      .dctrans-top-nav .dctrans-nav .dctrans-nav-left .nav-ul .currency-btn {
        background-color: #e80000;
        color: #fff;
        border-width: 0px;
        font-size: 13px; }
    .dctrans-top-nav .dctrans-nav .dctrans-nav-right {
      text-align: right; }
      .dctrans-top-nav .dctrans-nav .dctrans-nav-right .nav-ul {
        font-size: 13px;
        list-style: none;
        padding-left: 0px;
        margin-bottom: 0px; }
        .dctrans-top-nav .dctrans-nav .dctrans-nav-right .nav-ul li {
          padding: 0px 10px;
          display: inline-block; }
          .dctrans-top-nav .dctrans-nav .dctrans-nav-right .nav-ul li .item {
            margin: 0px 5px;
            color: #333; }
            .dctrans-top-nav .dctrans-nav .dctrans-nav-right .nav-ul li .item:hover {
              color: #10a3cf; }
        .dctrans-top-nav .dctrans-nav .dctrans-nav-right .nav-ul .separator {
          border-left: 1px solid #ccc;
          padding: 0px; }
  .dctrans-top-nav .dctrans-menu {
    background-color: #222;
    height: 82px; }
    .dctrans-top-nav .dctrans-menu .menu-left {
      padding: 20px; }
      .dctrans-top-nav .dctrans-menu .menu-left .dc-logo img {
        max-height: 40px; }
    .dctrans-top-nav .dctrans-menu .menu-right {
      text-align: right;
      height: 80px;
      overflow-y: hidden; }
      .dctrans-top-nav .dctrans-menu .menu-right .h-menu {
        list-style: none;
        padding-left: 0px;
        margin-bottom: 0px; }
        .dctrans-top-nav .dctrans-menu .menu-right .h-menu li {
          display: inline-block; }
          .dctrans-top-nav .dctrans-menu .menu-right .h-menu li:hover {
            background-color: #10a3cf;
            border-bottom: 6px solid #337ab7; }
            .dctrans-top-nav .dctrans-menu .menu-right .h-menu li:hover a {
              line-height: 73px; }
        .dctrans-top-nav .dctrans-menu .menu-right .h-menu .h-cell {
          line-height: 80px;
          padding: 10px 20px;
          color: #fff;
          font-size: 15px;
          text-transform: uppercase;
          letter-spacing: 1px; }
          .dctrans-top-nav .dctrans-menu .menu-right .h-menu .h-cell:hover {
            text-decoration: none; }

#dctrans-banner .item img {
  width: 100%;
  min-width: 1200px;
  margin: auto auto; }
@media screen and (max-width: 480px) {
  #dctrans-banner .carousel-inner {
    max-height: 600px; }
  #dctrans-banner .item img {
    min-width: 300px;
    max-height: 500px; } }

.shipping-calculator {
  padding: 100px 0px; }
  @media screen and (max-width: 480px) {
    .shipping-calculator {
      padding: 40px 0px; } }
  @media screen and (max-width: 480px) {
    .shipping-calculator .shipping-left {
      padding-bottom: 40px; } }
  .shipping-calculator .shipping-left ul {
    list-style: none;
    padding-left: 0px; }
    .shipping-calculator .shipping-left ul .steps img {
      max-width: 100%; }
    .shipping-calculator .shipping-left ul .title {
      font-size: 34px;
      color: #10a3cf;
      padding: 20px 0px; }
      @media screen and (max-width: 480px) {
        .shipping-calculator .shipping-left ul .title {
          text-align: center;
          font-size: 24px; } }
    .shipping-calculator .shipping-left ul .step-des {
      padding: 4px 0px;
      font-size: 14px; }
  .shipping-calculator .shipping-right .calculate-table {
    padding: 30px; }
    @media screen and (max-width: 480px) {
      .shipping-calculator .shipping-right .calculate-table {
        padding: 0px; } }
    .shipping-calculator .shipping-right .calculate-table .nav-tabs .active a {
      background-color: #f2f2f2; }
    .shipping-calculator .shipping-right .calculate-table .nav-tabs .active .tab-title {
      font-weight: 600;
      color: #333;
      padding: 15px 20px; }
    .shipping-calculator .shipping-right .calculate-table .nav-tabs .tab-title {
      color: #333;
      padding: 15px 20px; }
    .shipping-calculator .shipping-right .calculate-table .tab-content {
      background-color: #f2f2f2; }
    .shipping-calculator .shipping-right .calculate-table .cal-panel {
      padding: 20px; }
      .shipping-calculator .shipping-right .calculate-table .cal-panel .tab-cal-ul {
        max-width: 400px;
        margin: auto auto;
        list-style: none;
        padding-left: 0px; }
        .shipping-calculator .shipping-right .calculate-table .cal-panel .tab-cal-ul .cal-txt {
          margin: 20px 0px; }
          .shipping-calculator .shipping-right .calculate-table .cal-panel .tab-cal-ul .cal-txt label {
            font-weight: normal;
            color: #333;
            font-size: 13px; }
          .shipping-calculator .shipping-right .calculate-table .cal-panel .tab-cal-ul .cal-txt .location-select option {
            padding: 10px 20px;
            border-radius: 0px; }
          .shipping-calculator .shipping-right .calculate-table .cal-panel .tab-cal-ul .cal-txt .segment-left {
            padding: 0px;
            padding-right: 5px; }
            @media screen and (max-width: 480px) {
              .shipping-calculator .shipping-right .calculate-table .cal-panel .tab-cal-ul .cal-txt .segment-left {
                padding: 0px; } }
          .shipping-calculator .shipping-right .calculate-table .cal-panel .tab-cal-ul .cal-txt .segment-right {
            padding: 0px;
            padding-left: 5px; }
            @media screen and (max-width: 480px) {
              .shipping-calculator .shipping-right .calculate-table .cal-panel .tab-cal-ul .cal-txt .segment-right {
                padding: 0px;
                margin-top: 20px; } }
        .shipping-calculator .shipping-right .calculate-table .cal-panel .tab-cal-ul .cal-btn {
          text-align: center;
          padding: 20px 0px; }
          .shipping-calculator .shipping-right .calculate-table .cal-panel .tab-cal-ul .cal-btn button {
            font-size: 16px;
            padding: 10px 20px; }

/*# sourceMappingURL=dctrans-head.css.map */
