@import url("https://fonts.googleapis.com/css?family=Roboto:400,700,900,300");

h1 {

  font-size: 50px; }



.dctrans-btn {

  background-color: #10a3cf;

  color: #fff;

  border-width: 0px; }

  .dctrans-btn:hover {

    background-color: #337ab7;

    color: #fff; }



.dctrans-link {

  color: #333; }

  .dctrans-link:hover {

    color: #10a3cf; }



.bold {

  font-weight: 600; }



.right {

  text-align: right; }



.dctrans-services-container .head-banner {

  height: 540px;

  width: 100%;

  background-image: url("../images/services-bg.jpg");

  background-position: center;

  background-color: #333;

  padding-top: 124px; }

  @media all and (max-width: 480px) {

    .dctrans-services-container .head-banner {

      padding-top: 34px;

      background-position: 60% 0px; } }

  .dctrans-services-container .head-banner .banner-container {

    color: #333; }

    .dctrans-services-container .head-banner .banner-container .title {

      margin-top: 40px;

      padding: 30px 0px;

      font-size: 40px;

      color: #10a3cf; }

      @media all and (max-width: 480px) {

        .dctrans-services-container .head-banner .banner-container .title {

          font-size: 34px;

          text-align: center; } }

    .dctrans-services-container .head-banner .banner-container .slogan {

      font-size: 14px;

      color: #555; }

.dctrans-services-container .price-table {

  padding: 15px;

  margin: 40px auto;

  background-color: #f2f2f2;

  border-radius: 10px;

  border: 1px dashed #10a3cf;

  color: #333; }

  @media all and (max-width: 480px) {

    .dctrans-services-container .price-table {

      margin: 40px 20px; } }

  .dctrans-services-container .price-table .left-side ul {

    margin-bottom: 0px; }

    .dctrans-services-container .price-table .left-side ul .title {

      padding: 5px 0px;

      font-size: 16px;

      font-weight: 600; }

    .dctrans-services-container .price-table .left-side ul .description {

      font-size: 14px;

      color: #555; }

  .dctrans-services-container .price-table .right-side {

    text-align: center;

    padding: 15px; }

    .dctrans-services-container .price-table .right-side .download-btn {

      background-color: #e80000;

      color: #fff;

      padding: 10px 20px;

      border-radius: 8px; }

.dctrans-services-container .list-services .caption {

  padding: 40px 0px;

  font-size: 40px;

  text-align: center;

  font-weight: 300; }

.dctrans-services-container .list-services .service-one {

  padding: 24px; }

  .dctrans-services-container .list-services .service-one .service-ul {

    padding-left: 0px;

    margin-bottom: 0px; }

    .dctrans-services-container .list-services .service-one .service-ul .image img {

      max-width: 100%; }

    .dctrans-services-container .list-services .service-one .service-ul .title {

      padding: 15px 0px;

      font-size: 24px; }

    .dctrans-services-container .list-services .service-one .service-ul .description {

      font-size: 14px;

      line-height: 24px;

      color: #555; }

    .dctrans-services-container .list-services .service-one .service-ul .see-more {

      padding: 20px 0px;

      text-align: right;

      font-size: 14px;

      text-decoration: underline; }

.dctrans-services-container .call-reg-container {

  padding: 60px 0px;

  text-align: center;

  margin-top: 60px;

  background-color: #f2f2f2; }

  @media all and (max-width: 480px) {

    .dctrans-services-container .call-reg-container {

      padding: 60px 20px; } }

  .dctrans-services-container .call-reg-container .title {

    font-size: 38px;

    font-weight: 300;

    color: #10a3cf;

    padding: 15px; }

    @media all and (max-width: 480px) {

      .dctrans-services-container .call-reg-container .title {

        font-size: 30px; } }

  .dctrans-services-container .call-reg-container .description {

    font-size: 14px;

    color: #555; }

  .dctrans-services-container .call-reg-container .reg-line {

    padding: 30px; }

    .dctrans-services-container .call-reg-container .reg-line .reg-btn {

      padding: 10px 20px;

      font-size: 16px;

      border-radius: 8px; }

.dctrans-services-container .service-contact {

  height: 545px;

  padding: 80px 0px;

  background-image: url("../images/man-ourservices.jpg");

  background-repeat: no-repeat;

  background-position: center; }

  .dctrans-services-container .service-contact .test-column {

    padding-top: 40px; }

    .dctrans-services-container .service-contact .test-column .test-ul {

      margin-bottom: 0px; }

      .dctrans-services-container .service-contact .test-column .test-ul .qoute {

        padding: 20px;

        border: 1px dotted #10a3cf;

        font-size: 14px;

        color: #333;

        line-height: 22px;

        border-radius: 20px; }

        .dctrans-services-container .service-contact .test-column .test-ul .qoute .avatar {

          border-radius: 60px;

          border: 3px solid #444;

          width: 120px;

          height: 120px;

          margin: 15px 10px;

          background-image: url("../images/su-menh-phat-trien.png");

          background-position: center;

          float: left; 
          background-size: 100%;}

        .dctrans-services-container .service-contact .test-column .test-ul .qoute ul .name {

          font-size: 14px;

          font-weight: 600;

          padding: 5px 0px; }

        .dctrans-services-container .service-contact .test-column .test-ul .qoute ul .cmt {

          color: #555; }

      .dctrans-services-container .service-contact .test-column .test-ul .name {

        font-size: 14px; }



/* DCtrans About Us nest in Service Page 

***********

************/

.dctrans-aboutus {

  padding-top: 124px; }

  .dctrans-aboutus .aboutus-banner {

    padding: 15px; }

    .dctrans-aboutus .aboutus-banner .inside-con .left-side .left-ul .title {

      padding: 30px 0px;

      font-size: 40px;

      color: #10a3cf;

      font-weight: 300; }

    .dctrans-aboutus .aboutus-banner .inside-con .left-side .left-ul .description {

      font-size: 14px;

      line-height: 22px;

      color: #333; }

    .dctrans-aboutus .aboutus-banner .inside-con .right-side img {

      max-width: 100%;

      max-height: 100%;
      width: 100% }

  .dctrans-aboutus .aboutus-stats {

    padding: 80px 0px;

    background-color: #f2f2f2;

    margin-top: 40px; }

    .dctrans-aboutus .aboutus-stats .stats-inside .stats-cell {

      padding-left: 0px;

      margin-bottom: 0px;

      text-align: center;

      margin-right: 0px; }

      .dctrans-aboutus .aboutus-stats .stats-inside .stats-cell .cell-ul .number {

        font-size: 50px;

        color: #d55225;

        font-weight: 300;

        padding: 10px 0px; }

      .dctrans-aboutus .aboutus-stats .stats-inside .stats-cell .cell-ul .exp {

        font-size: 16px; }

  .dctrans-aboutus .aboutus-location .main-caption {

    font-size: 44px;

    color: #10a3cf;

    text-align: center;

    padding: 50px;

    font-weight: 300; }

  .dctrans-aboutus .aboutus-location .location-row {

    padding: 40px; }

    .dctrans-aboutus .aboutus-location .location-row .map {

      height: 100%; }

    .dctrans-aboutus .aboutus-location .location-row .content .content-ul .title {

      font-size: 28px;

      padding: 10px 0px; }

    .dctrans-aboutus .aboutus-location .location-row .content .content-ul .row-text {

      font-size: 14px;

      padding: 6px 0px; }

      .dctrans-aboutus .aboutus-location .location-row .content .content-ul .row-text .caption {

        color: #10a3cf;

        font-weight: 600; }

    .dctrans-aboutus .aboutus-location .location-row .align-right {

      text-align: right; }



/*# sourceMappingURL=dctrans-services.css.map */

