@import url("https://fonts.googleapis.com/css?family=Roboto:400,700,900,300");

h1 {

  font-size: 50px; }



.dctrans-btn {

  background-color: #10a3cf;

  color: #fff;

  border-width: 0px; }

  .dctrans-btn:hover {

    background-color: #337ab7;

    color: #fff; }



.dctrans-link {

  color: #333; }

  .dctrans-link:hover {

    color: #10a3cf; }



.bold {

  font-weight: 600; }



.right {

  text-align: right; }



/* Reset Font-all page section */

html, body, div, span, applet, object, iframe,

h1, h2, h3, h4, h5, h6, p, blockquote, pre,

a, abbr, acronym, address, big, cite, code,

del, dfn, em, img, ins, kbd, q, s, samp,

small, strike, strong, sub, sup, tt, var,

b, u, i, center,

dl, dt, dd, ol, ul, li,

fieldset, form, label, legend,

table, caption, tbody, tfoot, thead, tr, th, td,

article, aside, canvas, details, embed,

figure, figcaption, footer, header, hgroup,

menu, nav, output, ruby, section, summary,

time, mark, audio, video {

  font-family: 'Roboto', sans-serif; }



.dctrans-carousel-title {

  font-size: 14px;

  line-height: 22px;

  padding: 20px 30px;

  margin-bottom: 40px;

  background-image: url("../images/banner-img.png");

  background-repeat: repeat;

  color: #fff;

  border-radius: 8px; }

  .dctrans-carousel-title .strong-title {

    padding: 10px;

    font-size: 20px;

    font-weight: 600;

    color: #fff; }



@media all and (max-width: 480px) {

  .dctrans-carousel-title {

    display: none; } }

/* End reset font*/

.dctrans-top-nav {

  width: 100%;

  z-index: 100;

  border-radius: 0px;

  margin-bottom: 0px;

  border-width: 0px; }

  @media all and (max-width: 480px) {

    .dctrans-top-nav {

      display: none; } }

  .dctrans-top-nav .dctrans-nav {

    padding: 6px 10px; }

    .dctrans-top-nav .dctrans-nav .dctrans-nav-left .nav-ul {

      font-size: 13px;

      list-style: none;

      padding-left: 0px;

      margin-bottom: 0px; }

      .dctrans-top-nav .dctrans-nav .dctrans-nav-left .nav-ul .lang_sel_sel {

        font-size: 12px !important;

        background-color: transparent !important; }

      .dctrans-top-nav .dctrans-nav .dctrans-nav-left .nav-ul li {

        padding: 0px 10px;

        display: inline-block; }

        .dctrans-top-nav .dctrans-nav .dctrans-nav-left .nav-ul li .item {

          margin: 0px 5px;

          color: #333; }

          .dctrans-top-nav .dctrans-nav .dctrans-nav-left .nav-ul li .item:hover {

            color: #10a3cf; }

        .dctrans-top-nav .dctrans-nav .dctrans-nav-left .nav-ul li .phone-link {

          font-size: 15px; }

      .dctrans-top-nav .dctrans-nav .dctrans-nav-left .nav-ul .separator {

        border-left: 1px solid #ccc;

        padding: 0px; }

      .dctrans-top-nav .dctrans-nav .dctrans-nav-left .nav-ul .currency-dropdown .currency-btn {

        background-color: #e80000;

        color: #fff;

        border-width: 0px;

        font-size: 13px; }

      .dctrans-top-nav .dctrans-nav .dctrans-nav-left .nav-ul .currency-dropdown .currency-panel {

        width: 300px;

        padding: 20px;

        background-color: #10a3cf;

        color: #fff; }

        .dctrans-top-nav .dctrans-nav .dctrans-nav-left .nav-ul .currency-dropdown .currency-panel .title {

          font-size: 18px;

          padding: 6px 0px;

          font-weight: 600; }

        .dctrans-top-nav .dctrans-nav .dctrans-nav-left .nav-ul .currency-dropdown .currency-panel .description {

          font-size: 13px;

          color: #fff; }

        .dctrans-top-nav .dctrans-nav .dctrans-nav-left .nav-ul .currency-dropdown .currency-panel .login {

          width: 100%;

          padding: 20px 0px;

          text-align: center; }

        .dctrans-top-nav .dctrans-nav .dctrans-nav-left .nav-ul .currency-dropdown .currency-panel .separator {

          border-top: 1px solid #ccc;

          height: 1px;

          width: 100%;

          margin: 20px 0px;

          clear: both;

          opacity: 0.4; }

        .dctrans-top-nav .dctrans-nav .dctrans-nav-left .nav-ul .currency-dropdown .currency-panel .input {

          padding: 10px 0px; }

        .dctrans-top-nav .dctrans-nav .dctrans-nav-left .nav-ul .currency-dropdown .currency-panel .result {

          padding: 15px 0px;

          text-align: center;

          font-size: 20px; }

    .dctrans-top-nav .dctrans-nav .dctrans-nav-right {

      text-align: right; }

      .dctrans-top-nav .dctrans-nav .dctrans-nav-right .user-info li a {

        font-size: 13px !important; }

      .dctrans-top-nav .dctrans-nav .dctrans-nav-right .nav-ul {

        font-size: 13px;

        list-style: none;

        padding-left: 0px;

        margin-bottom: 0px; }

        .dctrans-top-nav .dctrans-nav .dctrans-nav-right .nav-ul li {

          padding: 0px 10px;

          display: inline-block; }

          .dctrans-top-nav .dctrans-nav .dctrans-nav-right .nav-ul li .item {

            margin: 0px 5px;

            color: #333; }

            .dctrans-top-nav .dctrans-nav .dctrans-nav-right .nav-ul li .item:hover {

              color: #10a3cf; }

        .dctrans-top-nav .dctrans-nav .dctrans-nav-right .nav-ul .separator {

          border-left: 1px solid #ccc;

          padding: 0px; }

  .dctrans-top-nav .dctrans-menu {

    background-color: #222; }

    .dctrans-top-nav .dctrans-menu .menu-left {

      padding: 20px; }

      .dctrans-top-nav .dctrans-menu .menu-left .dc-logo img {

        max-height: 40px; }

    .dctrans-top-nav .dctrans-menu .menu-tracking-con {

      padding: 22px; }

      .dctrans-top-nav .dctrans-menu .menu-tracking-con .input-group {

        margin-left: 20px;

        max-width: 240px; }

        .dctrans-top-nav .dctrans-menu .menu-tracking-con .input-group .tracking-input {

          border-width: 0px;

          font-size: 12px; }

        .dctrans-top-nav .dctrans-menu .menu-tracking-con .input-group .dctrans-btn {

          height: 34px; }

    .dctrans-top-nav .dctrans-menu .menu-right {

      text-align: right;

      height: 80px;

      overflow-y: hidden; }

      .dctrans-top-nav .dctrans-menu .menu-right .h-menu {

        list-style: none;

        padding-left: 0px;

        margin-bottom: 0px; }

        .dctrans-top-nav .dctrans-menu .menu-right .h-menu li {

          display: inline-block; }

          .dctrans-top-nav .dctrans-menu .menu-right .h-menu li:hover {

            background-color: #10a3cf;

            border-bottom: 6px solid #337ab7; }

        .dctrans-top-nav .dctrans-menu .menu-right .h-menu .h-cell {

          color: #fff;

          font-size: 15px;

          text-transform: uppercase;

          letter-spacing: 1px; }

          .dctrans-top-nav .dctrans-menu .menu-right .h-menu a {

            color: #fff;

            line-height: 80px;

            margin: 0px !important;

            padding: 0px 20px; }

          .dctrans-top-nav .dctrans-menu .menu-right .h-menu .h-cell:hover {

            text-decoration: none; }



#dctrans-banner .item img {

  width: 100%;

  min-width: 1200px;

  margin: auto auto; }

@media screen and (max-device-width: 480px) {

  #dctrans-banner .carousel-inner {

    max-height: 600px; }

  #dctrans-banner .item img {

    min-width: 300px;

    max-height: 500px; } }



.shipping-calculator {

  padding: 100px 0px; }

  @media all and (max-device-width: 480px) {

    .shipping-calculator {

      padding: 40px 0px; } }

  @media all and (max-device-width: 480px) {

    .shipping-calculator .shipping-left {

      padding-bottom: 40px; } }

  .shipping-calculator .shipping-left ul {

    list-style: none;

    padding-left: 0px; }

    .shipping-calculator .shipping-left ul .steps img {

      max-width: 100%; }

    .shipping-calculator .shipping-left ul .title {

      font-size: 34px;

      color: #10a3cf;

      padding: 20px 0px; }

      @media all and (max-device-width: 480px) {

        .shipping-calculator .shipping-left ul .title {

          text-align: center;

          font-size: 24px; } }

    .shipping-calculator .shipping-left ul .step-des {

      padding: 4px 0px;

      font-size: 14px; }

  .shipping-calculator .shipping-right .calculate-table {

    padding: 30px; }

    @media all and (max-device-width: 480px) {

      .shipping-calculator .shipping-right .calculate-table {

        padding: 0px; } }

    .shipping-calculator .shipping-right .calculate-table .nav-tabs .active a {

      background-color: #f2f2f2 !important; }

    .shipping-calculator .shipping-right .calculate-table .nav-tabs .active .tab-title {

      font-weight: 600;

      color: #333;

      padding: 15px 20px;

      background-color: #fff; }

    .shipping-calculator .shipping-right .calculate-table .nav-tabs .tab-title {

      color: #333;

      padding: 15px 20px; }

    .shipping-calculator .shipping-right .calculate-table .tab-content {

      background-color: #f2f2f2; }

    .shipping-calculator .shipping-right .calculate-table .cal-panel {

      padding: 20px; }

      .shipping-calculator .shipping-right .calculate-table .cal-panel .tab-cal-ul {

        max-width: 400px;

        margin: auto auto;

        list-style: none;

        padding-left: 0px; }

        .shipping-calculator .shipping-right .calculate-table .cal-panel .tab-cal-ul .cal-txt {

          margin: 20px 0px; }

          .shipping-calculator .shipping-right .calculate-table .cal-panel .tab-cal-ul .cal-txt label {

            font-weight: normal;

            color: #333;

            font-size: 13px; }

          .shipping-calculator .shipping-right .calculate-table .cal-panel .tab-cal-ul .cal-txt .location-select option {

            padding: 10px 20px;

            border-radius: 0px; }

          .shipping-calculator .shipping-right .calculate-table .cal-panel .tab-cal-ul .cal-txt .segment-left {

            padding: 0px;

            padding-right: 5px; }

            @media screen and (max-device-width: 480px) {

              .shipping-calculator .shipping-right .calculate-table .cal-panel .tab-cal-ul .cal-txt .segment-left {

                padding: 0px; } }

          .shipping-calculator .shipping-right .calculate-table .cal-panel .tab-cal-ul .cal-txt .segment-right {

            padding: 0px;

            padding-left: 5px; }

            @media screen and (max-device-width: 480px) {

              .shipping-calculator .shipping-right .calculate-table .cal-panel .tab-cal-ul .cal-txt .segment-right {

                padding: 0px;

                margin-top: 20px; } }

        .shipping-calculator .shipping-right .calculate-table .cal-panel .tab-cal-ul .cal-btn {

          text-align: center;

          padding: 20px 0px; }

          .shipping-calculator .shipping-right .calculate-table .cal-panel .tab-cal-ul .cal-btn button {

            font-size: 16px;

            padding: 10px 20px; }



/*# sourceMappingURL=dctrans-head.css.map */

