h1 {
  font-size: 50px; }

.dctrans-btn {
  background-color: #10a3cf;
  color: #fff;
  border-width: 0px; }
  .dctrans-btn:hover {
    background-color: #337ab7;
    color: #fff; }

.dctrans-link {
  color: #333; }
  .dctrans-link:hover {
    color: #10a3cf; }

.bold {
  font-weight: 600; }

.right {
  text-align: right; }

.dctrans-taobao-container .head-banner {
  height: 540px;
  width: 100%;
  background-image: url("../images/taobao-banner.jpg");
  background-position: center;
  background-color: #333;
  padding-top: 124px; }
  @media all and (max-width: 480px) {
    .dctrans-taobao-container .head-banner {
      padding-top: 34px;
      background-position: 60% 0px; } }
  .dctrans-taobao-container .head-banner .banner-container {
    color: #333; }
    .dctrans-taobao-container .head-banner .banner-container .title {
      margin-top: 40px;
      padding: 30px 15px;
      font-size: 40px;
      color: #10a3cf;
      font-weight: 300; }
      @media all and (max-width: 480px) {
        .dctrans-taobao-container .head-banner .banner-container .title {
          font-size: 34px;
          text-align: center; } }
    .dctrans-taobao-container .head-banner .banner-container .slogan {
      font-size: 16px;
      line-height: 28px;
      color: #555; }
.dctrans-taobao-container .price-table {
  padding: 15px;
  margin: 40px auto;
  background-color: #f2f2f2;
  border-radius: 10px;
  border: 1px dashed #10a3cf;
  color: #333; }
  @media all and (max-width: 480px) {
    .dctrans-taobao-container .price-table {
      margin: 40px 20px; } }
  .dctrans-taobao-container .price-table .left-side ul {
    margin-bottom: 0px; }
    .dctrans-taobao-container .price-table .left-side ul .title {
      padding: 5px 0px;
      font-size: 16px;
      font-weight: 600; }
    .dctrans-taobao-container .price-table .left-side ul .description {
      font-size: 14px;
      color: #555; }
  .dctrans-taobao-container .price-table .right-side {
    text-align: center;
    padding: 15px; }
    .dctrans-taobao-container .price-table .right-side .download-btn {
      background-color: #e80000;
      color: #fff;
      padding: 10px 20px;
      border-radius: 8px; }
.dctrans-taobao-container .guide-steps {
  padding: 100px 0px; }
  .dctrans-taobao-container .guide-steps .guide-inside .caption {
    padding: 44px 0px;
    font-size: 40px;
    color: #10a3cf;
    text-align: center;
    font-weight: 300; }
  .dctrans-taobao-container .guide-steps .guide-inside .step-col .step-ul {
    padding: 15px;
    text-align: center; }
    .dctrans-taobao-container .guide-steps .guide-inside .step-col .step-ul .image {
      padding: 10px 0px;
      text-align: center; }
      .dctrans-taobao-container .guide-steps .guide-inside .step-col .step-ul .image img {
        max-width: 200px; }
    .dctrans-taobao-container .guide-steps .guide-inside .step-col .step-ul .title {
      padding: 15px 0px;
      font-size: 18px;
      font-weight: 600; }
    .dctrans-taobao-container .guide-steps .guide-inside .step-col .step-ul .description {
      font-size: 14px;
      color: #333; }
.dctrans-taobao-container .our-process {
  padding: 80px 0px;
  background-color: #f2f2f2; }
  .dctrans-taobao-container .our-process .process-inside .left-process .left-process-ul {
    font-size: 14px; }
    .dctrans-taobao-container .our-process .process-inside .left-process .left-process-ul .caption {
      font-size: 30px;
      color: #10a3cf;
      padding: 15px 0px; }
    .dctrans-taobao-container .our-process .process-inside .left-process .left-process-ul .step {
      padding: 15px 20px;
      padding-left: 64px;
      margin: 10px 0px;
      border-bottom: 1px solid #ddd;
      background-repeat: no-repeat; }
      .dctrans-taobao-container .our-process .process-inside .left-process .left-process-ul .step .embed {
        color: #d55225 !important;
        font-weight: 600; }
    .dctrans-taobao-container .our-process .process-inside .left-process .left-process-ul .tb-step1 {
      background-image: url("../images/tb-step1.png"); }
    .dctrans-taobao-container .our-process .process-inside .left-process .left-process-ul .tb-step2 {
      background-image: url("../images/tb-step2.png"); }
    .dctrans-taobao-container .our-process .process-inside .left-process .left-process-ul .tb-step3 {
      background-image: url("../images/tb-step3.png"); }
    .dctrans-taobao-container .our-process .process-inside .left-process .left-process-ul .tb-step4 {
      background-image: url("../images/tb-step4.png"); }
    .dctrans-taobao-container .our-process .process-inside .left-process .left-process-ul .tb-step5 {
      background-image: url("../images/tb-step5.png"); }
.dctrans-taobao-container .price-2 {
  background-color: #f2f2f2; }
.dctrans-taobao-container .taobao-price-table {
  padding: 60px 20px; }
  .dctrans-taobao-container .taobao-price-table .price-table-inside .caption {
    padding: 40px 0px;
    font-size: 36px;
    color: #10a3cf;
    font-weight: 300;
    text-align: center; }
    .dctrans-taobao-container .taobao-price-table .price-table-inside .caption .sub {
      font-size: 16px;
      color: #d55225 !important; }
  .dctrans-taobao-container .taobao-price-table .price-table-inside .headline {
    padding: 15px 0px;
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase; }
  .dctrans-taobao-container .taobao-price-table .price-table-inside .notice {
    padding: 2px 0px;
    font-size: 13px;
    color: #555; }
    .dctrans-taobao-container .taobao-price-table .price-table-inside .notice .embed {
      font-weight: 600;
      color: #d55225; }
  .dctrans-taobao-container .taobao-price-table .price-table-inside .price-tb {
    margin-top: 10px;
    font-size: 14px;
    color: #333; }
    .dctrans-taobao-container .taobao-price-table .price-table-inside .price-tb tr {
      border-bottom: 1px solid #ddd; }
      .dctrans-taobao-container .taobao-price-table .price-table-inside .price-tb tr td {
        padding: 15px;
        text-align: left;
        font-size: 14px; }
    .dctrans-taobao-container .taobao-price-table .price-table-inside .price-tb .last {
      border-width: 0px; }
    .dctrans-taobao-container .taobao-price-table .price-table-inside .price-tb .tb-head {
      border-radius: 8px; }
      .dctrans-taobao-container .taobao-price-table .price-table-inside .price-tb .tb-head td {
        background-color: #10a3cf;
        color: #fff;
        font-size: 14px;
        font-weight: 600;
        text-transform: uppercase !important; }
.dctrans-taobao-container .call-reg-container {
  padding: 60px 0px;
  text-align: center;
  margin-top: 0px;
  background-color: #f2f2f2; }
  @media all and (max-width: 480px) {
    .dctrans-taobao-container .call-reg-container {
      padding: 60px 20px; } }
  .dctrans-taobao-container .call-reg-container .title {
    font-size: 38px;
    font-weight: 300;
    color: #10a3cf;
    padding: 15px; }
    @media all and (max-width: 480px) {
      .dctrans-taobao-container .call-reg-container .title {
        font-size: 30px; } }
  .dctrans-taobao-container .call-reg-container .description {
    font-size: 14px;
    color: #555; }
  .dctrans-taobao-container .call-reg-container .reg-line {
    padding: 30px; }
    .dctrans-taobao-container .call-reg-container .reg-line .reg-btn {
      padding: 10px 20px;
      font-size: 16px;
      border-radius: 8px; }
  .dctrans-taobao-container .call-reg-container .separator {
    height: 1px;
    margin-bottom: 30px;
    border-bottom: 1px solid #ccc; }

/*# sourceMappingURL=dctrans-taobao.css.map */
