h1 {
  font-size: 50px; }

.dctrans-btn {
  background-color: #10a3cf;
  color: #fff;
  border-width: 0px; }
  .dctrans-btn:hover {
    background-color: #337ab7;
    color: #fff; }

.dctrans-link {
  color: #333; }
  .dctrans-link:hover {
    color: #10a3cf; }

.bold {
  font-weight: 600; }

.right {
  text-align: right; }

.dctrans-newscenter-container {
  padding-top: 124px;
  background-color: #f2f2f2; }
  .dctrans-newscenter-container .newsletter {
    padding: 40px 0px;
    background-color: #fff;
    text-align: right; }
    .dctrans-newscenter-container .newsletter .caption {
      font-size: 14px;
      color: #333;
      margin-right: 10px; }
    .dctrans-newscenter-container .newsletter .dctrans-btn {
      padding: 10px 20px;
      background-color: #e80000; }
  .dctrans-newscenter-container .newscenter-head .title {
    padding-top: 30px;
    font-size: 32px;
    color: #10a3cf; }
  .dctrans-newscenter-container .newscenter-head .description {
    color: #555;
    font-size: 14px; }
  .dctrans-newscenter-container .news-body {
    padding: 40px 0px; }
    .dctrans-newscenter-container .news-body .news-cell {
      padding: 30px; }
      .dctrans-newscenter-container .news-body .news-cell .news-ul {
        padding-left: 0px;
        margin-bottom: 0px; }
        .dctrans-newscenter-container .news-body .news-cell .news-ul .image {
          width: 100%;
          text-align: center;
          height: 240px;
          overflow: hidden;
          background-color: #fff;
          padding: 10px;
          -webkit-box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.2);
          -moz-box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.2); }
          .dctrans-newscenter-container .news-body .news-cell .news-ul .image .outbound-img .img-responsive-2 {
            max-width: 100% !important;
            max-height: 100% !important;
            margin: auto auto; }
        .dctrans-newscenter-container .news-body .news-cell .news-ul .title {
          padding: 10px 0px;
          font-size: 16px;
          font-weight: 400;
          line-height: 24px;
          color: #333; }
        .dctrans-newscenter-container .news-body .news-cell .news-ul .date {
          color: #666;
          font-size: 11px;
          padding-top: 10px; }
        .dctrans-newscenter-container .news-body .news-cell .news-ul .brief {
          padding: 10px 0px;
          font-size: 14px; }
        .dctrans-newscenter-container .news-body .news-cell .news-ul .see-more {
          text-align: right;
          padding: 0px 0px; }
          .dctrans-newscenter-container .news-body .news-cell .news-ul .see-more a {
            color: #10a3cf;
            font-size: 14px;
            text-decoration: underline; }

/*# sourceMappingURL=dctrans-newscenter.css.map */
