@import url(https://fonts.googleapis.com/css?family=Roboto:400,700,900,300);
h1 {
  font-size: 50px; }

.dctrans-btn {
  background-color: #10a3cf;
  color: #fff;
  border-width: 0px; }
  .dctrans-btn:hover {
    background-color: #337ab7;
    color: #fff; }

.dctrans-link {
  color: #333; }
  .dctrans-link:hover {
    color: #10a3cf; }

.bold {
  font-weight: 600; }

.right {
  text-align: right; }

.dctrans-footer {
  background-color: #222 !important;
  padding: 60px 0px; }
  .dctrans-footer .foot-col {
    padding: 20px; }
    .dctrans-footer .foot-col .footcol-ul {
      list-style: none;
      padding-left: 0px; }
      .dctrans-footer .foot-col .footcol-ul li {
        margin: 10px 0px; width: 100%;}
      .dctrans-footer .foot-col .footcol-ul .contact-title {
        font-size: 20px;
        color: #10a3cf;
        line-height: 60px; }
      .dctrans-footer .foot-col .footcol-ul .contact-txt {
        color: #fff; }
        .dctrans-footer .foot-col .footcol-ul .contact-txt .item {
          padding: 0px 5px; }
      .dctrans-footer .foot-col .footcol-ul .logo {
        padding: 20px 0px; }
        .dctrans-footer .foot-col .footcol-ul .logo img {
          max-width: 200px; }
      .dctrans-footer .foot-col .footcol-ul .separator {
        border-bottom: 1px solid #444; }
      .dctrans-footer .foot-col .footcol-ul .copyright {
        color: #666;
        font-weight: normal;
        font-size: 13px; }

/*# sourceMappingURL=footer.css.map */
