@import url(https://fonts.googleapis.com/css?family=Roboto:400,700,900,300);
h1 {
  font-size: 50px; }

.dctrans-btn {
  background-color: #10a3cf;
  color: #fff;
  border-width: 0px; }
  .dctrans-btn:hover {
    background-color: #337ab7;
    color: #fff; }

.dctrans-link {
  color: #333; }
  .dctrans-link:hover {
    color: #10a3cf; }

.bold {
  font-weight: 600; }

.right {
  text-align: right; }

.dctrans-mobile-nav {
  width: 100%;
  z-index: 100;
  border-radius: 0px;
  margin-bottom: 0px;
  border-width: 0px;
  background-color: #222; }
  @media all and (min-device-width: 481px) {
    .dctrans-mobile-nav {
      display: none; } }
  .dctrans-mobile-nav .top-nav {
    background-color: #ddd;
    padding: 5px 0px; }
    .dctrans-mobile-nav .top-nav .nav-col {
      padding: 0px 10px; }
      .dctrans-mobile-nav .top-nav .nav-col .nav-language .dropdown-toggle {
        font-size: 12px;
        background-color: transparent; }
      .dctrans-mobile-nav .top-nav .nav-col .currency-dropdown .currency-btn {
        background-color: #e80000;
        color: #fff;
        border-width: 0px;
        font-size: 13px; }
      .dctrans-mobile-nav .top-nav .nav-col .currency-dropdown .currency-panel {
        width: 300px;
        left: -80% !important;
        padding: 20px;
        background-color: #10a3cf;
        color: #fff; }
        .dctrans-mobile-nav .top-nav .nav-col .currency-dropdown .currency-panel .title {
          font-size: 18px;
          padding: 6px 0px;
          font-weight: 600; }
        .dctrans-mobile-nav .top-nav .nav-col .currency-dropdown .currency-panel .description {
          font-size: 13px;
          color: #fff; }
        .dctrans-mobile-nav .top-nav .nav-col .currency-dropdown .currency-panel .login {
          width: 100%;
          padding: 20px 0px;
          text-align: center; }
        .dctrans-mobile-nav .top-nav .nav-col .currency-dropdown .currency-panel .separator {
          border-top: 1px solid #ccc;
          height: 1px;
          width: 100%;
          margin: 20px 0px;
          clear: both;
          opacity: 0.4; }
        .dctrans-mobile-nav .top-nav .nav-col .currency-dropdown .currency-panel .input {
          padding: 10px 0px; }
        .dctrans-mobile-nav .top-nav .nav-col .currency-dropdown .currency-panel .result {
          padding: 15px 0px;
          text-align: center;
          font-size: 20px; }
      .dctrans-mobile-nav .top-nav .nav-col .login-link {
        text-align: right;
        line-height: 30px;
        font-size: 14px; }
  .dctrans-mobile-nav .top-menu {
    padding: 10px 0px; }
    .dctrans-mobile-nav .top-menu .nav-col .dc-logo img {
      margin-top: 4px;
      max-width: 100%; }
    .dctrans-mobile-nav .top-menu .nav-col .burger-btn {
      padding: 6px 8px;
      font-size: 24px;
      background-color: transparent;
      color: #fff;
      border: 1px solid #444; }
    .dctrans-mobile-nav .top-menu .nav-col .cross-btn {
      padding: 6px 8px;
      height: 48px;
      font-size: 24px;
      background-color: transparent;
      color: #fff;
      border: 1px solid #444; }

.burger-menu {
  border-top: 1px solid #444; }
  .burger-menu ul {
    list-style: none; }
    .burger-menu ul .burger-li {
      font-size: 16px;
      color: #fff; }
      .burger-menu ul .burger-li li {
        padding: 10px 20px !important;
        border-bottom: 1px solid #444; }
    .burger-menu ul .last li {
      border-bottom-width: 0px; }

/*# sourceMappingURL=hamburger-menu.css.map */
