@import url(https://fonts.googleapis.com/css?family=Roboto:400,700,900,300);
h1 {
  font-size: 50px; }

.dctrans-btn {
  background-color: #10a3cf;
  color: #fff;
  border-width: 0px; }
  .dctrans-btn:hover {
    background-color: #337ab7;
    color: #fff; }

.dctrans-link {
  color: #333; }
  .dctrans-link:hover {
    color: #10a3cf; }

.bold {
  font-weight: 600; }

.right {
  text-align: right; }

body {
  -webkit-font-smoothing: antialiased; }

.clear-fix {
  clear: both; }

.parallax {
  /* The image used */
  background-image: url("../images/services.svg");
  /* Set a specific height */
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }

.main-services-container {
  background-color: #fff;
  /* The image used */
  /* Set a specific height */
  /* Create the parallax scrolling effect */ }
  .main-services-container .title-container {
    padding: 30px 0px; }
    .main-services-container .title-container .title {
      font-size: 50px;
      text-align: center;
      padding-top: 80px;
      color: #10a3cf;
      font-weight: 300; }
      @media screen and (max-width: 480px) {
        .main-services-container .title-container .title {
          font-size: 34px; } }
    .main-services-container .title-container .description {
      font-size: 16px;
      text-align: center;
      padding: 10px;
      color: #333; }
  .main-services-container .sub-main {
    padding-top: 40px;
    margin-bottom: 100px; }
    @media screen and (max-width: 480px) {
      .main-services-container .sub-main {
        padding-top: 0px; } }
    .main-services-container .sub-main .mainservices-col {
      padding: 10px 20px; }
      @media screen and (max-width: 480px) {
        .main-services-container .sub-main .mainservices-col {
          padding: 20px 0px; } }
      .main-services-container .sub-main .mainservices-col .mainservices-ul {
        list-style: none;
        padding-left: 0px; }
        .main-services-container .sub-main .mainservices-col .mainservices-ul .image {
          text-align: center; }
          .main-services-container .sub-main .mainservices-col .mainservices-ul .image img {
            border-radius: 4px;
            max-width: 100%; }
        .main-services-container .sub-main .mainservices-col .mainservices-ul .title {
          font-size: 22px;
          padding: 15px 0px;
          color: #10a3cf;
          text-align: center; }
        .main-services-container .sub-main .mainservices-col .mainservices-ul .content {
          font-size: 14px !important;
          text-align: center; }
        .main-services-container .sub-main .mainservices-col .mainservices-ul .action {
          text-align: center;
          padding: 30px 0px 0px 0px; }
          .main-services-container .sub-main .mainservices-col .mainservices-ul .action .mainservices-btn {
            background-color: #10a3cf;
            color: #fff;
            padding: 10px 20px; }
            .main-services-container .sub-main .mainservices-col .mainservices-ul .action .mainservices-btn:hover {
              background-color: #337ab7; }

/*# sourceMappingURL=main-services.css.map */
