h1 {
  font-size: 50px; }

.dctrans-btn {
  background-color: #10a3cf;
  color: #fff;
  border-width: 0px; }
  .dctrans-btn:hover {
    background-color: #337ab7;
    color: #fff; }

.dctrans-link {
  color: #333; }
  .dctrans-link:hover {
    color: #10a3cf; }

.bold {
  font-weight: 600; }

.right {
  text-align: right; }

/*# sourceMappingURL=variants.css.map */
