@import url('https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i&subset=latin-ext,vietnamese');



#frm-track input{

  font-size: 12px !important;

}

.login .send-request:hover{

	color: #fff;

}

.logo a{

	font-size: 28px;

}

.header-second .phone-top{

	float: left;

	margin-top: 33px;

	    margin-left: 38px;

	    margin-right: 24px;

  height: 17px;

  font-family: 'Roboto', sans-serif;

   font-size: 14px;

  font-weight: 600;

  text-align: left;

  color: #ffffff;

}

.search{    margin-top: 13px;}

.header-second .phone-top .zmdi{

    line-height: 22px;

    font-size: 22px;

color: #10a3cf !important;

}

.search .input-control input{

	

width: 295px;

  height: 33px;

  font-family: 'Roboto', sans-serif;

  font-size: 12px;

  line-height: 1.83;

  text-align: left;

  color: #bdbdbd;

  text-align: left;

    border-radius: 4px;

    background: none;

    border: solid 1.5px #ffffff;

}

.search .btn i{color:#606060;padding-right: 10px}

.search .btn{

	margin-top: 0;

}

.menuhome{

/*	background: url(assets2/imgs/banner.png);background-size: cover;background-position: top right */



}

.pg-sevices{

	background: url(assets2/imgs/header-sv.png);background-size: cover;background-position: top right



}

.pg-about{

	background: url(assets2/imgs/bitmap-about.png);background-size: cover;background-position: top right



}

.home .header-second{height: 85px;

	background-color: rgba(0, 0, 0, 0.8);border-bottom:none;



}

.header-second{height: 85px;

	background-color: rgba(0, 0, 0, 0.8);border-bottom:none;



}

.header{

	background: #fff;

}

.menu-top ul li a{

	 height: 15px;

  font-family: 'Roboto', sans-serif;

  font-size: 12px;

  letter-spacing: 2.3px;

  text-align: left;

  color: #ffffff;

   padding-bottom: 45px;

    font-weight: bold;

}

.menu-top ul li.active a, .menu-top ul li:hover a{

border-bottom: 2px solid #10a3cf;

font-weight: bold;

}

#frm-track{

	margin-top: 39px;

}

.form-search .btn{

	margin: 0;

}



  .second-head .form-search .btn{

  	height: 43px;

  }

  .second-head .form-search input{

  	font-size: 12px;

  line-height: 1.83;

  letter-spacing: 2px;

  height: 43px;

  text-align: left;

  color: #979797;}

  .second-head .info h3{

   width: 349px;

  height: 17px;

  font-family: 'Roboto', sans-serif;

  font-size: 14px;

  text-align: left;

  color: #979797;

  padding: 0;

  }

.second-head .info h2{

	width: 189px;

  height: 22px;

  font-family: 'Roboto', sans-serif;

  font-size: 18px;

  font-weight: bold;

  text-align: left;

  color: #10a3cf;

      margin-top: 25px;

}

.second-head .img{

	 width: 90px;

  height: 90px;

      overflow: inherit;

  object-fit: contain;

}

.second-head .info {

    width: 349px;

    float: right;

}

.option .title h2{

	margin-bottom: 0;

}

.people_say .title h2{

	margin-bottom: 0;

}

.people_say .title h3{

	padding-top: 10px;

}

.option .title h3{

	padding-top: 10px;

}

.option.option-1 .content .item h3:before{

	height: 1px;

	width: 60px;

}

.people_say .content .item h3{

	font-size: 18px;

  font-weight: bold;

  letter-spacing: 2px;

  text-align: left;

  color: #242424;

}

.people_say .content .item h4{

	 font-size: 12px;

  text-align: left;

  color: #10a3cf;

  font-weight: normal;

  padding-top: 0;



}

.logo-footer a{

	font-size: 28px;

  font-weight: 900;

  text-align: center;

  color: #10a3cf;

}

.copyright a{

	opacity: 0.5;

  font-family: 'Roboto', sans-serif;

  font-size: 12px;

  text-align: left;

  color: #ffffff;

}

.menu-bottom li a{

	height: 15px;

  font-family: 'Roboto', sans-serif;

  font-size: 12px;

  letter-spacing: 2.3px;

  text-align: left;

  color: #ffffff;

}

.social-bottom span{

	font-size: 14px;

  font-weight: 600;

  letter-spacing: 2.7px;

  text-align: left;

  color: #ffffff;

}

.second-head .form-search input::-webkit-input-placeholder {

  color: #787878;

}

.header-second .search input::-webkit-input-placeholder {

  color: #bdbdbd;

}

.lang a i{

	 font-size: 18px;

  letter-spacing: 3.5px;

  text-align: left;

  color: #3b3b3b;

}

.lang a {

  font-family: 'Roboto', sans-serif;

  font-size: 12px;

  text-align: left;

  color: #3b3b3b;

  text-transform: uppercase;

}

.select {

  width: 7px;

  height: 4px;

 

}

.nav>li>a:focus, .nav>li>a:hover{

	background: none !important;

}

a:hover, a:active{

	    color: #10a3cf;

	    text-decoration: none;

}

.text-sv{

	margin-top: 112px;

}

.text-sv  h2{

	margin-bottom: 0;

}

.text-sv  h3{

	margin-bottom: 34px;

}

.second-head .info-sv {

    width: 350px;

    float: right;

}

.info-sv h3{

	width: 400px;

	padding-top: 0;

}

.info-sv h2{

	margin-top: 15px;



}

.option .title-sv h2{

	margin-top: 34px;

	font-family: 'Roboto', sans-serif;

	font-size: 29px;

	font-weight: bold;

	line-height: 2;

	letter-spacing: 1.5px;

	text-align: left;

	padding-top: 0;

	color: #242424;

}

/**/

.form-about{

	background-image: url(assets2/imgs/bitmap-sv.png);

	background-size: cover;

	background-position: top center;

	padding: 80px 0px;

}

.form-about h2{

	color: #fff;

	font-weight: 200;

	font-size: 40px;

	max-width: 400px;

	text-align: center;

	margin: 0px auto 20px;

	line-height: 1.4;

}

.form-about .frm-sv{

	max-width: 601px;

	margin: auto;

}

.form-about  .frm-sv input,

.form-about  .frm-sv textarea {

	float: left;

	border: solid 1px #ccc;	

	padding: 10px;

	margin-bottom: 24px;

	width: 48%;

  height: 43px;

  border-radius: 4px;

  background-color: rgba(255, 255, 255, 0.8);

  font-size: 12px;

  line-height: 1.83;

  text-align: left;

  color: #787878;

 

}

.form-about  .frm-sv input:nth-child(1){

	margin-right: 1.5%;

}

.form-about .frm-sv input:nth-child(2){

	margin-left: 1.5%;

	float: right;

}

.form-about  textarea{

	width: 100% !important;



  height: 140px;

  border-radius: 4px;

  background-color: rgba(255, 255, 255, 0.8);

	border: solid 1.5px #3b3b3b;

	

	padding: 10px;

	min-height: 100px;

	margin: 10px 0px;

	font-size: 12px;

  line-height: 1.83;

  text-align: left;

  color: #787878;

}



.form-about  .btn{

	background: #10a3cf;

	color: #fff;

	text-transform: uppercase;

	height: 44px;

	min-width: 110px;

	margin-top: 24px;

}

.form-about-news form input{

	border-radius: 4px;

  background-color: rgba(255, 255, 255, 0.8);

	border: solid 1px #ccc;

	height: 43px;

	font-size: 12px;

  line-height: 1.83;

  text-align: left;

  color: #787878;

}

.form-about-news{

	background: url(assets2/imgs/bitmap-news.png);

      background-size: cover !important;

}

.frm-sv h2{

	    max-width: 601px;

}

.line-more{

	height: 1px;

}

.img-news img{

	max-height: 176px;

	min-height: 176px;

}

.box-item{

	max-height: 412px;

}

.box-news-ft{

	padding-top: 78px;

	padding-bottom: 78px;

}

.header-second .current-menu-item a{

	color: #fff !important;

    border-bottom: 2px solid #10a3cf !important;

}

.link_page h3{

	font-size: 14px ;

  font-weight: bold;

  letter-spacing: 1px;

  text-align: center;

  color: #146a83 !important;

}

.img-news-sg{

	text-align: center;

}

.info-news-sg{

font-family: 'Roboto', sans-serif;

  font-size: 30px;

  font-weight: bold;

  line-height: 1.47;

  letter-spacing: 1.5px;

  text-align: center;

  color: #242424;

  margin-top: 64px;

}

.news-date-sg{

  font-size: 12px;

  text-align: center;

  color: #acacac;

  width: 96px;

  height: 15px;

  margin: auto;

  padding-top: 20px;

  padding-bottom: 20px;

}



.line-more-sg{

	



	 margin: auto;

	 text-align:center;

   width: 112px;

  height: 1px;

  background-color: #146a83;

}

.sg-content{

	padding-top: 50px;

	font-family: 'Roboto', sans-serif;

  font-size: 14px;

  line-height: 1.86;

  text-align: justify;

  color: #7a7a7a;

}

.single .option{

	padding-top: 50px;

	padding-bottom: 50px;

}

.title-related{

font-size: 18px;

  font-weight: bold;

  line-height: 2.44;

  letter-spacing: 0.9px;

  text-align: center;

  color: #146a83 !important;

  font-family: 'Roboto', sans-serif;

  text-transform: uppercase;

  margin-bottom: 60px;

}

.read-more a{

	font-size: 12px;

  font-weight: bold;

  letter-spacing: 1px;

  text-align: left;

  color: #146a83;

}

.info-news a{

font-family: 'Roboto', sans-serif;

  font-size: 18px;

  font-weight: bold;

  line-height: 1.67;

  text-align: left;

  color: #242424;

}

.single{

	background: #ffffff

}

.text-about h2{

	font-family: 'Roboto', sans-serif;

  font-size: 40px;

  font-weight: 300;

  line-height: 1.5;

  letter-spacing: 2px;

  text-align: left;

  color: #10a3cf;

  width: 100%;

  

}

.info-about{

  font-family: 'Roboto', sans-serif;

  font-size: 24px;

  line-height: 1.63;

  text-align: left;

  color: #ffffff;

}

.info-about-blue{

  font-family: 'Roboto', sans-serif;

  font-size: 18px;

  font-weight: 600;

  line-height: 1.44;

  text-align: center;

  color: #10a3cf;

  width: 60%;

  margin: auto;

      margin-bottom: 25px;

}

.info-about-grey{

 font-family: 'Roboto', sans-serif;

  font-size: 18px;

  line-height: 1.44;

  text-align: center;

  color: #7a7a7a;

  width: 60%;

    margin: auto;

    margin-bottom: 44px;

}

.bg-about{

  background-color: #242424;

  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.16);

}

.title-about h2{

 font-family: 'Roboto', sans-serif;

  font-size: 20px;

  font-weight: bold;

  letter-spacing: 1.4px;

  text-align: left;

  color: #494949;text-align: center;

      margin-bottom: 25px;

}

.box-count{

   background-color: #146a83;

  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.16);

}

.count-1{

  background: url('assets2/imgs/icon-1.png') left 26%   no-repeat;

  padding-left: 70px;



}

.count-2{

  background: url('assets2/imgs/icon-2.png') left 26%   no-repeat;

  padding-left: 70px;



}

.count-3{

  background: url('assets2/imgs/icon-3.png') left 26%   no-repeat;

  padding-left: 70px;



}

.count-4{

  background: url('assets2/imgs/icon-4.png') left 26%   no-repeat;

  padding-left: 70px;



}

.box-ab{

  width: 50%;

  margin: auto;



  padding-bottom: 60px;

}

.box-ab h2{

  font-family: 'Roboto', sans-serif;

  font-size: 80px;

  font-weight: 300;

  text-align: left;

  color: #ffffff;

  margin-bottom: 0;

}

.info-ab{

   font-family: 'Roboto', sans-serif;

  font-size: 18px;

  font-weight: bold;

  line-height: 1.44;

  letter-spacing: normal;

  text-align: left;

  color: #242424;

  text-transform: uppercase;

}

.line-about{

width: 141px;

margin-top: 80px;

  height: 0.5px;

  opacity: 0.28;

  background:  #ffffff;

}

.box-mapsbg{

background: #262626;

}

.box-mapsbg .img{

margin-bottom: 45px;

}

.box-mapsbg h2{

font-family: 'Roboto', sans-serif;

  font-size: 18px;

  font-weight: bold;

  letter-spacing: 2px;

  text-align: left;

  color: #ffffff;

  margin-top: 25px;

}

.info-maps  label{

  font-family: 'Roboto', sans-serif;

  font-size: 12px;

  width: 133px;

  float: left;

  line-height: 1.83;

  text-align: left;

  color: #ffffff;

}

.info-maps p {

  font-family: 'Roboto', sans-serif;

  font-size: 12px;

  line-height: 1.83;

  text-align: left;

  color: #7a7a7a;

}

.get-price  .input-control .btn{

  line-height: 32px;

}

#content table th, #content table td {

    border: 1px solid #dedede;

    padding: 6px;

}

.btn-taobao{

  line-height: 32px;

}

.box-don-gia table th, #content table td {

    border: 1px solid #dedede;

    padding: 6px;

}

.box-don-gia table {

    max-width: 100%;

    width: 100%;

    border-spacing: 0;

    border-collapse: collapse;

    margin-bottom: 1.5em;

}

.box-maps{

  width: 86%;

}

th {

    background-color: #018db1;

    font-weight: bold;

    color: #fff;

    text-transform: uppercase;

    text-align: center;

}

tbody tr:nth-of-type(2n+1) {

    text-align: center;

}

tbody tr td:nth-of-type(1) {

    font-weight: bold;

    text-transform: uppercase;

    text-align: center;

}

.box-don-gia table td {

    border: 1px solid #dedede;

    padding: 6px;

}

.box-don-gia tbody tr:nth-of-type(2n) {

    background-color: #018db1;

    color: #fff;

    text-align: center;

}

/*.single .item{padding:25px; }*/

.box-news-ft .item{padding:25px; }

.info-news a:hover{

 color:  #29c4ee;

}

.read-more a:hover{

color:  #29c4ee !important;

cursor: pointer;

}

.pagenavi .wp-pagenavi  {display:table; margin:0 auto; margin-bottom:45px;}

.pagenavi .wp-pagenavi  {font-size:15px;}

.pagenavi .wp-pagenavi  span {

    color:#808080; padding: 10px 18px 9px;    position: relative;

   

    line-height: 1.42857143;

    

    text-decoration: none;

    background-color: #fff;

    border: 1px solid #ddd;

}

.pagenavi .current{

background: #3190E7 !important;

color:#fff !important;



}

.pagenavi .wp-pagenavi  a {

    color:#808080; padding: 10px 18px 9px;    position: relative;

   

    line-height: 1.42857143;

    

    text-decoration: none;

    background-color: #fff;

    border: 1px solid #ddd;

}

.pagenavi .wp-pagenavi  a:hover {background: #3190E7; color:#fff;}

.wpcf7-response-output{

    color: #fff;

    font-size: 16px;

}

.form-about-news form .btn{

  border: none;

  text-align: center;

}

.your-title input{

  width: 100% !important;

}

#by_land{

  display: none;

}

.form-about .your-email input{

  float: right !important;

   margin-right: 0 !important;

}

.send-request:hover{

  cursor: pointer;

  background: #146A83 !important;

}

.menu-bottom li a:hover{

  color: #146A83;

}

.social-bottom a:hover{

color: #146A83;

}

.modal-body .form-about {

  background: none !important;

  padding: 0 !important;

  height: auto !important;

}

.modal-title{

  font-family: 'Roboto', sans-serif;

  font-weight: 300;

  letter-spacing: 0.5px;

  text-align: center;

  color: #10a3cf;

  font-size: 34px;

  padding: 0px;

}

.search .btn:hover{

  background: none !important;

}

.search .btn:hover i{

  color: #146A83 !important;

}

.box-page{

  padding-bottom: 80px;

  padding-top: 40px;

}

.pg-sevices{

  padding-bottom: 80px;

}

.pg-about{

  padding-bottom: 80px;

}

#frm-track .ip-weight{

  width: 230px;

    height: 43px;

    border-radius: 4px;

    border: solid 1.5px #3b3b3b;

    

    float: right;

}

#frm-track .ip-thetich{

  width: 230px;

    height: 43px;

    border-radius: 4px;

    border: solid 1.5px #3b3b3b;

    

    float: right;

}

.div_detail_wp{

  padding: 20px;

  width: 441.9px;

 

  border-radius: 4px;

  background-color: rgba(242, 246, 252, 0.55);

}

.div_detail_wp p{

  font-family: 'Roboto', sans-serif;

  font-size: 14px;

  font-weight: bold;

  line-height: 2.14;

  letter-spacing: 1px;

  text-align: right;

  color: #146a83;

  margin-bottom: 10px;

}

.div_detail_wp p label{

  width: 176px;

 font-family: 'Roboto', sans-serif;

  font-size: 13px;

  font-weight: bold;

  line-height: 2.14;

  letter-spacing: 1px;

  text-align: left;

  color: #494949;

  float: left;

}

.div_detail_wp .total_pirce{

  font-size: 20px;

  font-weight: bold !important;

  margin-top: 20px;

  color: #2c8397 ;

}

#div_detail{

  display: inline-block;

}

.btn_reoder{

 width: 100%;

  height: 22px;

  font-family: 'Roboto', sans-serif;

  font-size: 12px;

  font-weight: 500;

  line-height: 3.63;

  text-align: center;

  color: #10a3cf;

}

.btn_oder{

  width: 100%;

  height: 22px;

  font-family: 'Roboto', sans-serif;

  font-size: 12px;

  font-weight: 500;

  line-height: 3.83;

  text-align: center;

  color: #ffffff !important;

}

.box_reoder{

      float: left;

      margin-top: 20px;

 width: 212px;

   text-align:center;

  height: 43px;

  border-radius: 4px;

  background-color: #ffffff;

  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.03);

  border: solid 1.5px #10a3cf;

}

.box_oder{

   float: right;

  margin-top: 20px;

  text-align:center;

  width: 212px;

  height: 43px;

  border-radius: 4px;

  background-color: #10a3cf;

}

.box_reoder:hover{

  background: #146A83;

  color: #fff;

   border: solid 1.5px #fff;

  cursor: pointer;

}

.box_oder:hover{

  background: #146A83;

  color: #fff;

  cursor: pointer;

  

}.box_reoder:hover a{

    color: #fff;

}

.line-more2{

  width: 100%;

  display: block;

  height: 1px;

  opacity: 0.09;

  background-color: #000000;

}

.content-area{

  padding: 20px;

}

#myModal .wpcf7-response-output{

  color: #333 !important;

}

.thankyou-caption {

    padding: 20px;

    font-size: 50px;

    text-align: center;

    font-weight: 300;

    color: #4BB543;

    font-family: 'Roboto';

}

.thankyou-content {

  font-family: 'Roboto';

    text-align: center;

    font-size: 20px;

    font-weight: 300;

    color: #333;

}

.sub-success-container{

  border-radius: 4px;

    border: 1px solid #ddd;

    padding: 20px;

    background-color: #f2f2f2;

    max-width: 800px;

    margin: auto !important;

}

.btn-news:hover{ background: #146A83 !important }

span.wpcf7-not-valid-tip{display: inherit !important;}

.wpcf7-form-control-wrap{

  position: inherit !important;

}

.pic3 {

    width: 82%;

    margin: auto;

}

.option .content .item .h3-wwd {

    position: absolute;

    top: 35%;

    left: 20px;

    right: 20px;

}

.option .content .item .h3-wwd h3 {

    font-family: 'Roboto', sans-serif;

    font-size: 20px;

    font-weight: bold;

    line-height: 1.5;

    letter-spacing: 2px;

    text-align: center;

    color: #ffffff !important;

    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);

    margin: auto;

}

.input-control-wwd .wwd {

    width: 212px;

    height: 43px;

    border-radius: 4px;

    background-color: #10a3cf;

    font-size: 12px;

    font-weight: 500;

    text-align: center;

    color: #ffffff;

    margin-top: 140px;

    padding-top: 8px;

    padding-bottom: 8px;

    padding-left: 23px;

    padding-right: 23px;

}

.pic3 .item{

  padding: 0 !important;

}

.h3-1 {

    width: 110px;

    height: 60px;

}

.input-control-wwd {

     bottom: 60px;

    position: absolute;

    left: 50%;

    transform: translate(-50%,-50%);

}

.input-control-wwd .wwd {

   

    border-radius: 4px;

    background-color: #10a3cf;

    font-size: 12px;

    font-weight: 500;

    text-align: center;

    color: #ffffff;

    padding-top: 10px;

    padding-bottom: 10px;

    padding-left: 25px;

    padding-right: 25px;

}

.img-wwd img{

  margin: auto;

  width: 100%;

}

.h3-2 {

    width: 207px;

    height: 60px;

}

.h3-3 {

    width: 207px;

    height: 60px;

}

.input-control-wwd a:hover{

  background: #146A83;

}

.inner-slide {

  position: absolute;

  top: 0;

  right: 0 ;

  left: 0;

}

.control-sv{

  text-align: right;

}

.control-sv .btn{

      margin-top: 40px;

      line-height: 35px;

}

#lang_sel{

  vertical-align: middle;

  z-index: 999;

}

#lang_sel a, #lang_sel a:visited {

    border-color: #10a3cf !important;

}

#lang_sel ul ul {

    border-top: none !important;

}

#lang_sel{

  border: none !important;

}

#lang_sel a, #lang_sel a:visited{

  border: none !important;

}

.menu-top #menu-menutop-chinese  li a{

  font-size: 16px;

      margin-right: 20px;

}

.content-pfs-loan-repayment {

    width: 320px;

    padding: 40px;

    margin: auto;

    border: 1px solid #ccc;

}

.option .content .item .h3-wwd .h3-vi{

  width: 100% !important;

}

#lang_sel ul ul{

  top:20px !important;

}

body .option  .info-sv{

  font-size: 16px;

  line-height: 1.8;

  height: auto;

}

.btn:hover,
.btn:focus {
  background: #146A83 !important;
  color: #ffffff;
}

 .page .order-information-container{

  text-align: center !important;

 }

 .content-pfs-loan-repayment {

  text-align: left!important;

 }

 td{

  text-align: center;

 }

 .img-dt {

  display: inline-block;

  padding: 5px;

 }

 .img-dt img{

  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */

    filter: grayscale(100%);

    transition: 0.3s all;

    opacity: 0.5;

    padding: 10px;

 }

 .img-dt a:hover >img{

  filter: brightness(100%);

    transition: 0.3s all;

    opacity: 0.8;

 }

 #doi-tac{

  background: url('assets2/images/partner-bg.png') no-repeat;

  background-size: cover;

 }

 #home-top{

  background: url('assets2/imgs/bg-home-top.png') no-repeat top;

  background-size: cover;

 }

 #dich-vu{

  background: url('assets2/imgs/bg-dich-vu.png') no-repeat;

  background-size: cover;

  

 }

 #div_detail-by-land{

  clear: both;

  overflow: hidden;

 }

 #div_detail-by-sea{

  clear: both;

  overflow: hidden;

 }

 body .navbar-nav{

  float: right;

 }

 body #lang_sel li{

  margin: 4px !important;

  width: 92px;

 }

 #lang_sel a.lang_sel_sel {
    background-color: #dddddd;
    border-color: #146a83 !important;
    border-radius: 2px;
 }

 @media(max-width: 767px){

  .home-services-container .sub-home .home-services-title{

    font-size: 30px;

  }

  .option .title h2{

    font-size: 30px;

  }

  .menu-bottom {

    float: right;

    text-align: right;

  }

  .footer-inner{

    width: 100%;

  }

  .fanpage {

    width: auto;

    float: left;

}

 }