@import url(https://fonts.googleapis.com/css?family=Roboto:400,700,900,300);
h1 {
  font-size: 50px; }

.dctrans-btn {
  background-color: #10a3cf;
  color: #fff;
  border-width: 0px; }
  .dctrans-btn:hover {
    background-color: #337ab7;
    color: #fff; }

.dctrans-link {
  color: #333; }
  .dctrans-link:hover {
    color: #10a3cf; }

.bold {
  font-weight: 600; }

.right {
  text-align: right; }

body {
  -webkit-font-smoothing: antialiased; }

.ourpartner-container {
  padding-top: 40px;
  padding-bottom: 200px;
  background-image: url("../images/partner-bg.png");
  /* The image used */
  /* Set a specific height */
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #333; }
  @media screen and (max-width: 480px) {
    .ourpartner-container {
      background-position: top center;
      padding-bottom: 40px; } }
  .ourpartner-container .container .ourpartner-title {
    text-align: center;
    font-size: 30px;
    color: #fff;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    padding: 50px 0px; }
    @media screen and (max-width: 480px) {
      .ourpartner-container .container .ourpartner-title {
        padding: 30px 0px;
        font-size: 26px; } }
  .ourpartner-container .container .partner-logos-container {
    margin-top: 20px; }
    .ourpartner-container .container .partner-logos-container .logo {
      padding: 10px 30px;
      height: 60px;
      margin-bottom: 20px; }
      @media screen and (max-width: 480px) {
        .ourpartner-container .container .partner-logos-container .logo {
          padding: 0px 10px; } }
      .ourpartner-container .container .partner-logos-container .logo img {
        max-width: 100%;
        max-height: 40px;
        line-height: 60px;
        -moz-transition: all 0.3s;
        -webkit-transition: all 0.3s;
        transition: all 0.3s; }
        .ourpartner-container .container .partner-logos-container .logo img:hover {
          -moz-transform: scale(1.1);
          -webkit-transform: scale(1.1);
          transform: scale(1.1); }

/* End Registration Page*/

/*# sourceMappingURL=ourpartner.css.map */
