@import url(https://fonts.googleapis.com/css?family=Roboto:400,700,900,300);
h1 {
  font-size: 50px; }

.dctrans-btn {
  background-color: #10a3cf;
  color: #fff;
  border-width: 0px; }
  .dctrans-btn:hover {
    background-color: #337ab7;
    color: #fff; }

.dctrans-link {
  color: #333; }
  .dctrans-link:hover {
    color: #10a3cf; }

.bold {
  font-weight: 600; }

.right {
  text-align: right; }

body {
  -webkit-font-smoothing: antialiased; }

.clear-fix {
  clear: both; }

.home-services-container {
  padding-bottom: 80px; }
  @media screen and (max-width: 480px) {
    .home-services-container {
      background-image: url("../images/services-bg-mobile.svg"); } }
  .home-services-container .sub-home .home-tracking-code {
    margin-top: 60px;
    background-color: #222;
    border-radius: 8px;
    padding: 20px; }
    @media screen and (max-width: 480px) {
      .home-services-container .sub-home .home-tracking-code {
        margin-top: 40px; } }
    .home-services-container .sub-home .home-tracking-code .home-tracking-left {
      padding-left: 50px;
      color: #fff;
      background-image: url("../images/target.png");
      background-repeat: no-repeat; }
      .home-services-container .sub-home .home-tracking-code .home-tracking-left ul {
        margin-left: 0px;
        list-style: none; }
        .home-services-container .sub-home .home-tracking-code .home-tracking-left ul .title {
          color: #10a3cf;
          font-weight: 600; }
        .home-services-container .sub-home .home-tracking-code .home-tracking-left ul .content {
          font-size: 12px; }
    .home-services-container .sub-home .home-tracking-code .home-tracking-right .ht-search-group {
      margin-top: 20px; }
      .home-services-container .sub-home .home-tracking-code .home-tracking-right .ht-search-group .search-btn {
        background-color: #10a3cf;
        color: #fff; }
  .home-services-container .sub-home .home-services-title {
    padding-top: 80px;
    padding-bottom: 10px;
    text-align: center;
    font-size: 50px;
    color: #fff;
    font-weight: 300;
    text-transform: initial; }
    @media screen and (max-width: 480px) {
      .home-services-container .sub-home .home-services-title {
        font-size: 40px; } }
  .home-services-container .sub-home .home-services-des {
    text-align: center;
    font-size: 16px; }
  .home-services-container .sub-home .home-services-listicons {
    margin-top: 40px; }
    @media screen and (max-width: 480px) {
      .home-services-container .sub-home .home-services-listicons {
        margin-top: 20px; } }
    .home-services-container .sub-home .home-services-listicons .listicons-cell {
      padding: 10px 20px; }
      @media screen and (max-width: 480px) {
        .home-services-container .sub-home .home-services-listicons .listicons-cell {
          padding: 0px 5px; } }
      .home-services-container .sub-home .home-services-listicons .listicons-cell .listicons-ul {
        list-style: none;
        margin-left: 0px;
        padding-left: 0px; }
        .home-services-container .sub-home .home-services-listicons .listicons-cell .listicons-ul li {
          text-align: center; }
          .home-services-container .sub-home .home-services-listicons .listicons-cell .listicons-ul li .rep-icon {
            max-height: 50px;
            max-width: 50px;
            margin: 20px 0px; }
        .home-services-container .sub-home .home-services-listicons .listicons-cell .listicons-ul .title {
          padding: 15px 0px;
          font-size: 16px;
          font-weight: 600;
          color: #333; }
        .home-services-container .sub-home .home-services-listicons .listicons-cell .listicons-ul .content {
          font-size: 14px;
          color: #333; }

/*# sourceMappingURL=services.css.map */
