._43f6{border-left:2px solid #dcdee3;margin:12px 0 0 0;padding-left:15px}._5yn2{border-left:2px solid #dcdee3;color:#7f7f7f;margin:10px 0 0 0;padding-left:10px}._uhq{color:#90949c}._5wpt{border-left:2px solid #dcdee3;padding-left:12px}._5pio{color:#90949c;font-size:12px}._49k0{margin-top:4px;text-align:left}._2xzj,._2xzi{margin:5px 0;text-align:left}._2xzi.ltgtranslatedcontent-enter{background-color:#fff9d7}._2xzi.ltgtranslatedcontent-enter.ltgtranslatedcontent-enter-active{background-color:#fff;transition:background-color 2s ease-in}body[dir="rtl"] ._43f9,body[dir="rtl"] ._49k0{direction:rtl}body[dir="ltr"] ._43f9,body[dir="ltr"] ._49k0{direction:ltr}
._52ju{text-align:left}._52jv{text-align:center}._52jw{text-align:right}
._324j{height:16px;margin-right:4px;vertical-align:middle;width:16px}._1hwh ._324j{height:32px;margin-right:8px;width:32px}

#bootloader_re0NP{height:42px;}.bootloader_re0NP{display:block!important;}